<div class="sport-wrapper">
    <div class="events common-heading">
        <h1 class="header">Tennis
        </h1>
        <div class="events-rows">

            <table class="market-listing-table apl-table">
                <thead>
                    <tr>
                        <th class="title ">Match</th>
                        <th class="col-first-player _align-center" colspan="2">1</th>
                        <th class="col-second-player _align-center" colspan="2">2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td>
                            <i class="far fa-star icon-style"></i>
                            <a class="event-name ">Uchida v Moriya</a>
                            <small class="in-play-content ">
                                <i class="fas fa-play-circle"></i> In-Play
                            </small>
                        </td>
                        <td class="back">
                            <strong class="odds ">
                                1.25
                            </strong>
                            <div class="size">
                                <span class="">
                                    5,195
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            <strong class="odds ">
                                1.26
                            </strong>
                            <div class="size">
                                <span class="">
                                    104,680
                                </span>
                            </div>
                        </td>
                        <td class="back">
                            <strong class="odds ">
                                4.80
                            </strong>
                            <div class="size">
                                <span class="">
                                    27,479
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            <strong class="odds ">
                                5.00
                            </strong>
                            <div class="size">
                                <span class="">
                                    1,299
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <i class="far fa-star icon-style"></i>
                            <a class="event-name ">S Kwon v Kelly</a>

                            <small class="in-play-content ">
                                <i class="fas fa-play-circle"></i> In-Play
                            </small>
                        </td>
                        <td class="back">
                            <strong class="odds ">
                                1.57
                            </strong>
                            <div class="size">
                                <span class="">
                                    164,250
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            <strong class="odds ">
                                1.61
                            </strong>
                            <div class="size">
                                <span class="">
                                    24,874
                                </span>
                            </div>
                        </td>
                        <td class="back">
                            <strong class="odds ">
                                2.64
                            </strong>
                            <div class="size">
                                <span class="">
                                    7,660
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            <strong class="odds ">
                                2.74
                            </strong>
                            <div class="size">
                                <span class="">
                                    17,381
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <i class="far fa-star icon-style"></i>
                            <a class="event-name ">Millot v Dutra Silva</a>
                            <small class="in-play-content ">
                                <i class="fas fa-play-circle"></i> In-Play
                            </small>
                        </td>
                        <td class="back">
                            <strong class="odds ">
                                11.0
                            </strong>
                            <div class="size">
                                <span class="">
                                    2,933
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            <strong class="odds ">
                                15.5
                            </strong>
                            <div class="size">
                                <span class="">
                                    2,242
                                </span>
                            </div>
                        </td>
                        <td class="back">
                            <strong class="odds ">
                                1.07
                            </strong>
                            <div class="size">
                                <span class="">
                                    32,486
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            <strong class="odds ">
                                1.10
                            </strong>
                            <div class="size">
                                <span class="">
                                    29,330
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <i class="far fa-star icon-style"></i>
                            <a class="event-name ">Bublik v Klahn</a>

                            <small class="in-play-content ">
                                <i class="fas fa-play-circle"></i> In-Play
                            </small>
                        </td>
                        <td class="back">
                            <strong class="odds ">
                                1.84
                            </strong>
                            <div class="size">
                                <span class="">
                                    4,761
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            <strong class="odds ">
                                1.85
                            </strong>
                            <div class="size">
                                <span class="">
                                    753
                                </span>
                            </div>
                        </td>
                        <td class="back">
                            <strong class="odds ">
                                2.16
                            </strong>
                            <div class="size">
                                <span class="">
                                    1,390
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            <strong class="odds ">
                                2.20
                            </strong>
                            <div class="size">
                                <span class="">
                                    3,982
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <i class="far fa-star icon-style"></i>
                            <a class="event-name ">Pouille v Paire</a>
                            <small class="in-play-content ">
                                <i class="fas fa-play-circle"></i> In-Play
                            </small>
                        </td>
                        <td class="back">
                            <strong class="odds ">
                                1.58
                            </strong>
                            <div class="size">
                                <span class="">
                                    63,693
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            <strong class="odds ">
                                1.59
                            </strong>
                            <div class="size">
                                <span class="">
                                    275
                                </span>
                            </div>
                        </td>
                        <td class="back">
                            <strong class="odds ">
                                2.68
                            </strong>
                            <div class="size">
                                <span class="">
                                    163
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            <strong class="odds ">
                                2.74
                            </strong>
                            <div class="size">
                                <span class="">
                                    37,732
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <i class="far fa-star icon-style"></i>
                            <a class="event-name ">Mannarino v Schwartzman</a>
                            <small class="in-play-content ">
                                <i class="fas fa-play-circle"></i> In-Play
                            </small>
                        </td>
                        <td class="back">
                            <strong class="odds ">
                                5.30
                            </strong>
                            <div class="size">
                                <span class="">
                                    42,517
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            <strong class="odds ">
                                5.60
                            </strong>
                            <div class="size">
                                <span class="">
                                    100,786
                                </span>
                            </div>
                        </td>
                        <td class="back">
                            <strong class="odds ">
                                1.22
                            </strong>
                            <div class="size">
                                <span class="">
                                    462,626
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            <strong class="odds ">
                                1.23
                            </strong>
                            <div class="size">
                                <span class="">
                                    183,204
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <i class="far fa-star icon-style"></i>
                            <a class="event-name ">Garcia v Martic</a>
                            <small class="in-play-content ">
                                <i class="fas fa-play-circle"></i> In-Play
                            </small>
                        </td>
                        <td class="back">
                            <strong class="odds ">
                                1.40
                            </strong>
                            <div class="size">
                                <span class="">
                                    76,500
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            <strong class="odds ">
                                1.41
                            </strong>
                            <div class="size">
                                <span class="">
                                    29,435
                                </span>
                            </div>
                        </td>
                        <td class="back">
                            <strong class="odds ">
                                3.45
                            </strong>
                            <div class="size">
                                <span class="">
                                    1,058
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            <strong class="odds ">
                                3.50
                            </strong>
                            <div class="size">
                                <span class="">
                                    30,600
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <i class="far fa-star icon-style"></i>
                            <a class="event-name ">S Zhang v Mladenovic</a>
                            <small ng-if="!event.inPlay" class="">
                                <time timestamp="event.start" type="gmtDateTime" class=" ">07/05/2018 17:00</time>
                            </small>
                        </td>
                        <td class="back">
                            <strong class="odds ">
                                2.60
                            </strong>
                            <div class="size">
                                <span class="">
                                    12,927
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            <strong class="odds ">
                                2.64
                            </strong>
                            <div class="size">
                                <span class="">
                                    1,989
                                </span>
                            </div>
                        </td>
                        <td class="back">
                            <strong class="odds ">
                                1.61
                            </strong>
                            <div class="size">
                                <span class="">
                                    3,261
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            <strong class="odds ">
                                1.63
                            </strong>
                            <div class="size">
                                <span class="">
                                    54,022
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <i class="far fa-star icon-style"></i>
                            <a class="event-name ">Kicker v Raonic</a>
                            <small ng-if="!event.inPlay" class="">
                                <time timestamp="event.start" type="gmtDateTime" class=" ">07/05/2018 17:15</time>
                            </small>
                        </td>
                        <td class="back">
                            <strong class="odds ">
                                3.35
                            </strong>
                            <div class="size">
                                <span class="">
                                    5,851
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            <strong class="odds ">
                                3.45
                            </strong>
                            <div class="size">
                                <span class="">
                                    3,489
                                </span>
                            </div>
                        </td>
                        <td class="back">
                            <strong class="odds ">
                                1.41
                            </strong>
                            <div class="size">
                                <span class="">
                                    2,239
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            <strong class="odds ">
                                1.42
                            </strong>
                            <div class="size">
                                <span class="">
                                    3,666
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <i class="far fa-star icon-style"></i>
                            <a class="event-name ">Benneteau v Dzumhur</a>
                            <small ng-if="!event.inPlay" class="">
                                <time timestamp="event.start" type="gmtDateTime" class=" ">07/05/2018 17:20</time>
                            </small>
                        </td>
                        <td class="back">
                            <strong class="odds ">
                                2.56
                            </strong>
                            <div class="size">
                                <span class="">
                                    24,850
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            <strong class="odds ">
                                2.58
                            </strong>
                            <div class="size">
                                <span class="">
                                    14,318
                                </span>
                            </div>
                        </td>
                        <td class="back">
                            <strong class="odds ">
                                1.63
                            </strong>
                            <div class="size">
                                <span class="">
                                    23,481
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            <strong class="odds ">
                                1.64
                            </strong>
                            <div class="size">
                                <span class="">
                                    38,789
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <i class="far fa-star icon-style"></i>
                            <a class="event-name ">Sevastova v Bertens</a>
                            <small ng-if="!event.inPlay" class="">
                                <time timestamp="event.start" type="gmtDateTime" class=" ">07/05/2018 19:00</time>
                            </small>
                        </td>
                        <td class="back">
                            <strong class="odds ">
                                2.30
                            </strong>
                            <div class="size">
                                <span class="">
                                    1,443
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            <strong class="odds ">
                                2.36
                            </strong>
                            <div class="size">
                                <span class="">
                                    5,660
                                </span>
                            </div>
                        </td>
                        <td class="back">
                            <strong class="odds ">
                                1.74
                            </strong>
                            <div class="size">
                                <span class="">
                                    3,894
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            <strong class="odds ">
                                1.77
                            </strong>
                            <div class="size">
                                <span class="">
                                    1,874
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <i class="far fa-star icon-style"></i>
                            <a class="event-name ">Khachanov v Lajovic</a>
                            <small ng-if="!event.inPlay" class="">
                                <time timestamp="event.start" type="gmtDateTime" class=" ">07/05/2018 19:14</time>
                            </small>
                        </td>
                        <td class="back">
                            <strong class="odds ">
                                1.62
                            </strong>
                            <div class="size">
                                <span class="">
                                    712
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            <strong class="odds ">
                                1.67
                            </strong>
                            <div class="size">
                                <span class="">
                                    27,508
                                </span>
                            </div>
                        </td>
                        <td class="back">
                            <strong class="odds ">
                                2.50
                            </strong>
                            <div class="size">
                                <span class="">
                                    15,171
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            <strong class="odds ">
                                2.62
                            </strong>
                            <div class="size">
                                <span class="">
                                    441
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <i class="far fa-star icon-style"></i>
                            <a class="event-name ">Nishikori v Djokovic</a>
                            <small ng-if="!event.inPlay" class="">
                                <time timestamp="event.start" type="gmtDateTime" class=" ">07/05/2018 19:30</time>
                            </small>
                        </td>
                        <td class="back">
                            <strong class="odds ">
                                2.22
                            </strong>
                            <div class="size">
                                <span class="">
                                    12,025
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            <strong class="odds ">
                                2.24
                            </strong>
                            <div class="size">
                                <span class="">
                                    873
                                </span>
                            </div>
                        </td>
                        <td class="back">
                            <strong class="odds ">
                                1.80
                            </strong>
                            <div class="size">
                                <span class="">
                                    1,086
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            <strong class="odds ">
                                1.81
                            </strong>
                            <div class="size">
                                <span class="">
                                    4,719
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <i class="far fa-star icon-style"></i>
                            <a class="event-name ">Andujar v Lopez</a>
                            <small ng-if="!event.inPlay" class="">
                                <time timestamp="event.start" type="gmtDateTime" class=" ">07/05/2018 23:30</time>
                            </small>
                        </td>
                        <td class="back">
                            <strong class="odds ">
                                1.88
                            </strong>
                            <div class="size">
                                <span class="">
                                    24,246
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            <strong class="odds ">
                                1.90
                            </strong>
                            <div class="size">
                                <span class="">
                                    2,936
                                </span>
                            </div>
                        </td>
                        <td class="back">
                            <strong class="odds ">
                                2.12
                            </strong>
                            <div class="size">
                                <span class="">
                                    802
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            <strong class="odds ">
                                2.14
                            </strong>
                            <div class="size">
                                <span class="">
                                    23,216
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <i class="far fa-star icon-style"></i>
                            <a class="event-name ">D Lee v Lu</a>
                            <small ng-if="!event.inPlay" class="">
                                <time timestamp="event.start" type="gmtDateTime" class=" ">08/05/2018 12:30</time>
                            </small>
                        </td>
                        <td class="back">
                            <strong class="odds ">
                                4.20
                            </strong>
                            <div class="size">
                                <span class="">
                                    778
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            <strong class="odds ">
                                4.80
                            </strong>
                            <div class="size">
                                <span class="">
                                    103
                                </span>
                            </div>
                        </td>
                        <td class="back">
                            <strong class="odds ">
                                1.27
                            </strong>
                            <div class="size">
                                <span class="">
                                    388
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            <strong class="odds ">
                                1.30
                            </strong>
                            <div class="size">
                                <span class="">
                                    74
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>