<div class="">
    <div class="sport-wrapper">
        <div class="racing markets common-heading">
            <h1 class="ng-binding">Horse Racing</h1>
            <div class="group-sport">
                <div class="content">
                    <div class="title-container small">
                        <h1 class="racing-title event-title -qa-event-title ng-binding">
                            <span class="ng-binding">Next Race:</span>
                            <time format="vm.appendDateFormat" timestamp="vm.detailedRace.start" class="ng-binding  ng-isolate-scope">18:20</time>
                            Thirsk (GBR)
                        </h1>
                        <div class="indicators">
                            <div class="bettable-counter ng-binding ">
                                <i class="apl-icon-clock"></i>
                                Opens in 6hrs 59mins
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="race-rows ng-isolate-scope" is-race="true" show-pnl="true" race="vm.detailedRace">
                        <table class="market-listing-table apl-table -qa-odds-test ">
                            <thead>
                                <tr>
                                    <th class="title ng-binding">Race Odds
                                    </th>
                                    <th class="_align-center " colspan="3" translate="">Back</th>
                                    <th class="_align-center " colspan="3" translate="">Lay</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="">
                                    <td>
                                        <div class="race-runner-info">
                                            <div class="runner-numbers column ">
                                                <span class="ng-binding " title="Saddlecloth Number">1</span>
                                                <span class="ng-binding " title="Stall Draw">(6)</span>
                                            </div>
                                            <div class="runner-image column " title="Maroon and light blue diabolo, halved sleeves, maroon cap">
                                                <img ng-src="/api/media/jockeysilk/YzIwMTgwNTA4dGhpLzAwODUxMTY4LmpwZw" class="" src="/api/media/jockeysilk/YzIwMTgwNTA4dGhpLzAwODUxMTY4LmpwZw">
                                            </div>
                                            <div class="name column">
                                                <span class="main ng-binding">Bengali Spirit</span>
                                                <span class="secondary ng-binding ">Paul Hanagan</span>
                                            </div>
                                        </div>
                                        <div class="selection-pnl  ng-isolate-scope racing-pnl">
                                        </div>
                                    </td>
                                    <td class="back unhighlighted show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            2.24
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                165
                                            </span>
                                        </div>
                                    </td>
                                    <td class="back unhighlighted show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            2.38
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                330
                                            </span>
                                        </div>
                                    </td>

                                    <td class="back show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            2.40
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                134
                                            </span>
                                        </div>
                                    </td>

                                    <td class="lay show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            2.42
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                548
                                            </span>
                                        </div>
                                    </td>

                                    <td class="lay unhighlighted show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            2.48
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                473
                                            </span>
                                        </div>
                                    </td>

                                    <td class="lay unhighlighted show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            2.50
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                6,964
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td>
                                        <div class="race-runner-info">
                                            <div class="runner-numbers column ">
                                                <span class="ng-binding " title="Saddlecloth Number">4</span>
                                                <span class="ng-binding " title="Stall Draw">(5)</span>
                                            </div>
                                            <div class="runner-image column ">
                                                <img ng-src="/api/media/jockeysilk/YzIwMTgwNTA4dGhpLzAwODUxMzE0LmpwZw" class="" src="/api/media/jockeysilk/YzIwMTgwNTA4dGhpLzAwODUxMzE0LmpwZw">
                                            </div>
                                            <div class="name column">
                                                <span class="main ng-binding">Fastman</span>
                                                <span class="secondary ng-binding ">Daniel Tudhope</span>
                                            </div>
                                        </div>
                                        <div class="selection-pnl  ng-isolate-scope racing-pnl">
                                        </div>
                                    </td>
                                    <td class="back unhighlighted show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            4.90
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                278
                                            </span>
                                        </div>
                                    </td>

                                    <td class="back unhighlighted show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            5.00
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                275
                                            </span>
                                        </div>
                                    </td>
                                    <td class="back show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            5.10
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                140
                                            </span>
                                        </div>
                                    </td>
                                    <td class="lay show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            5.60
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                490
                                            </span>
                                        </div>
                                    </td>
                                    <td class="lay unhighlighted show-size betting-disabled">
                                        <strong class="odds">
                                            5.80
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                374
                                            </span>
                                        </div>
                                    </td>
                                    <td class="lay unhighlighted show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            6.00
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                105
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td>
                                        <div class="race-runner-info">
                                            <div class="runner-numbers column ">
                                                <span class="ng-binding " title="Saddlecloth Number">7</span>
                                                <span class="ng-binding " title="Stall Draw">(9)</span>
                                            </div>
                                            <div class="runner-image column ">
                                                <img ng-src="/api/media/jockeysilk/YzIwMTgwNTA4dGhpLzAwODUyMTc5QS5qcGc" class="" src="/api/media/jockeysilk/YzIwMTgwNTA4dGhpLzAwODUyMTc5QS5qcGc">
                                            </div>
                                            <div class="name column">
                                                <span class="main ng-binding">Victory Command</span>
                                                <span class="secondary ng-binding ">P. J. McDonald</span>
                                            </div>
                                        </div>
                                        <div class="selection-pnl  ng-isolate-scope racing-pnl">
                                        </div>
                                    </td>
                                    <td class="back unhighlighted show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            4.70
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                640
                                            </span>
                                        </div>
                                    </td>
                                    <td class="back unhighlighted show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            4.80
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                534
                                            </span>
                                        </div>
                                    </td>
                                    <td class="back show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            4.90
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                64
                                            </span>
                                        </div>
                                    </td>
                                    <td class="lay show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            5.20
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                349
                                            </span>
                                        </div>
                                    </td>
                                    <td class="lay unhighlighted show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            5.30
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                465
                                            </span>
                                        </div>
                                    </td>
                                    <td class="lay unhighlighted show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            5.40
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                121
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td>
                                        <div class="race-runner-info">
                                            <div class="runner-numbers column ">
                                                <span class="ng-binding " title="Saddlecloth Number">8</span>
                                                <span class="ng-binding " title="Stall Draw">(3)</span>
                                            </div>
                                            <div class="runner-image column ">

                                                <img ng-src="/api/media/jockeysilk/YzIwMTgwNTA4dGhpLzAwMDgwMzA2LmpwZw" class="" src="/api/media/jockeysilk/YzIwMTgwNTA4dGhpLzAwMDgwMzA2LmpwZw">
                                            </div>

                                            <div class="name column">
                                                <span class="main ng-binding">Dragon Beat</span>
                                                <span class="secondary ng-binding ">Dougie Costello</span>
                                            </div>
                                        </div>
                                        <div class="selection-pnl  ng-isolate-scope racing-pnl">
                                        </div>
                                    </td>
                                    <td class="back unhighlighted show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            9.00
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                495
                                            </span>
                                        </div>
                                    </td>

                                    <td class="back unhighlighted show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            9.40
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                737
                                            </span>
                                        </div>
                                    </td>

                                    <td class="back show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            10.5
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                276
                                            </span>
                                        </div>
                                    </td>

                                    <td class="lay show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            12.0
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                71
                                            </span>
                                        </div>
                                    </td>

                                    <td class="lay unhighlighted show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            12.5
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                220
                                            </span>
                                        </div>
                                    </td>

                                    <td class="lay unhighlighted show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            13.0
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                792
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="">

                                    <td>

                                        <div class="race-runner-info">

                                            <div class="runner-numbers column ">

                                                <span class="ng-binding " title="Saddlecloth Number">9</span>
                                                <span class="ng-binding " title="Stall Draw">(1)</span>

                                            </div>

                                            <div class="runner-image column ">

                                                <img ng-src="/api/media/jockeysilk/YzIwMTgwNTA4dGhpLzAwMDAzMTA5LmpwZw" class="" src="/api/media/jockeysilk/YzIwMTgwNTA4dGhpLzAwMDAzMTA5LmpwZw">
                                            </div>

                                            <div class="name column">
                                                <span class="main ng-binding">Lorton</span>
                                                <span class="secondary ng-binding ">Paul Mulrennan</span>
                                            </div>
                                        </div>
                                        <div class="selection-pnl  ng-isolate-scope racing-pnl">
                                        </div>
                                    </td>
                                    <td class="back unhighlighted show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            18.0
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                699
                                            </span>
                                        </div>
                                    </td>

                                    <td class="back unhighlighted show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            25
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                96
                                            </span>
                                        </div>
                                    </td>

                                    <td class="back show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            32
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                271
                                            </span>
                                        </div>
                                    </td>

                                    <td class="lay show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            48
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                137
                                            </span>
                                        </div>
                                    </td>

                                    <td class="lay unhighlighted show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            50
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                110
                                            </span>
                                        </div>
                                    </td>

                                    <td class="lay unhighlighted show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            80
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                138
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="">

                                    <td>

                                        <div class="race-runner-info">

                                            <div class="runner-numbers column ">

                                                <span class="ng-binding " title="Saddlecloth Number">5</span>
                                                <span class="ng-binding " title="Stall Draw">(7)</span>

                                            </div>

                                            <div class="runner-image column ">

                                                <img ng-src="/api/media/jockeysilk/YzIwMTgwNTA4dGhpLzAwODQzMDkyLmpwZw" class="" src="/api/media/jockeysilk/YzIwMTgwNTA4dGhpLzAwODQzMDkyLmpwZw">
                                            </div>

                                            <div class="name column">
                                                <span class="main ng-binding">Mazeo Lad</span>
                                                <span class="secondary ng-binding ">Lemos de Souza</span>
                                            </div>
                                        </div>
                                        <div class="selection-pnl  ng-isolate-scope racing-pnl">
                                        </div>
                                    </td>
                                    <td class="back unhighlighted show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            21
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                64
                                            </span>
                                        </div>
                                    </td>

                                    <td class="back unhighlighted show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            26
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                242
                                            </span>
                                        </div>
                                    </td>

                                    <td class="back show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            27
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                341
                                            </span>
                                        </div>
                                    </td>

                                    <td class="lay show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            36
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                110
                                            </span>
                                        </div>
                                    </td>

                                    <td class="lay unhighlighted show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            40
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                117
                                            </span>
                                        </div>
                                    </td>

                                    <td class="lay unhighlighted show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            42
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                145
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="">

                                    <td>

                                        <div class="race-runner-info">

                                            <div class="runner-numbers column ">

                                                <span class="ng-binding " title="Saddlecloth Number">6</span>
                                                <span class="ng-binding " title="Stall Draw">(4)</span>

                                            </div>

                                            <div class="runner-image column ">

                                                <img ng-src="/api/media/jockeysilk/YzIwMTgwNTA4dGhpLzAwODUyMjUyLmpwZw" class="" src="/api/media/jockeysilk/YzIwMTgwNTA4dGhpLzAwODUyMjUyLmpwZw">
                                            </div>

                                            <div class="name column">
                                                <span class="main ng-binding">Melgate Magic</span>
                                                <span class="secondary ng-binding ">Nathan Evans</span>
                                            </div>
                                        </div>
                                        <div class="selection-pnl  ng-isolate-scope racing-pnl">
                                        </div>
                                    </td>
                                    <td class="back unhighlighted show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            24
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                85
                                            </span>
                                        </div>
                                    </td>

                                    <td class="back unhighlighted show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            34
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                111
                                            </span>
                                        </div>
                                    </td>

                                    <td class="back show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            36
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                199
                                            </span>
                                        </div>
                                    </td>

                                    <td class="lay show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            200
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                60
                                            </span>
                                        </div>
                                    </td>

                                    <td class="lay unhighlighted show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            280
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                1,155
                                            </span>
                                        </div>
                                    </td>

                                    <td class="lay unhighlighted show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            470
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                275
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="">

                                    <td>

                                        <div class="race-runner-info">

                                            <div class="runner-numbers column ">

                                                <span class="ng-binding " title="Saddlecloth Number">2</span>
                                                <span class="ng-binding " title="Stall Draw">(2)</span>

                                            </div>

                                            <div class="runner-image column ">

                                                <img ng-src="/api/media/jockeysilk/YzIwMTgwNTA4dGhpLzAwODUwOTExLmpwZw" class="" src="/api/media/jockeysilk/YzIwMTgwNTA4dGhpLzAwODUwOTExLmpwZw">
                                            </div>

                                            <div class="name column">
                                                <span class="main ng-binding">Blazing Dreams</span>
                                                <span class="secondary ng-binding ">Cam Hardie</span>
                                            </div>
                                        </div>
                                        <div class="selection-pnl  ng-isolate-scope racing-pnl">
                                        </div>
                                    </td>
                                    <td class="back unhighlighted show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            27
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                165
                                            </span>
                                        </div>
                                    </td>

                                    <td class="back unhighlighted show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            28
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                97
                                            </span>
                                        </div>
                                    </td>

                                    <td class="back show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            42
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                300
                                            </span>
                                        </div>
                                    </td>

                                    <td class="lay show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            200
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                87
                                            </span>
                                        </div>
                                    </td>

                                    <td class="lay unhighlighted show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            280
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                1,155
                                            </span>
                                        </div>
                                    </td>

                                    <td class="lay unhighlighted show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            300
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                550
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="">

                                    <td>

                                        <div class="race-runner-info">

                                            <div class="runner-numbers column ">

                                                <span class="ng-binding " title="Saddlecloth Number">3</span>
                                                <span class="ng-binding " title="Stall Draw">(8)</span>

                                            </div>

                                            <div class="runner-image column ">

                                                <img ng-src="/api/media/jockeysilk/YzIwMTgwNTA4dGhpLzAwODUyMDIxLmpwZw" class="" src="/api/media/jockeysilk/YzIwMTgwNTA4dGhpLzAwODUyMDIxLmpwZw">
                                            </div>

                                            <div class="name column">
                                                <span class="main ng-binding">Bouncin Back</span>
                                                <span class="secondary ng-binding ">Lewis Edmunds</span>
                                            </div>
                                        </div>
                                        <div class="selection-pnl  ng-isolate-scope racing-pnl">
                                        </div>
                                    </td>
                                    <td class="back unhighlighted show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            13.5
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                97
                                            </span>
                                        </div>
                                    </td>

                                    <td class="back unhighlighted show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            16.5
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                578
                                            </span>
                                        </div>
                                    </td>

                                    <td class="back show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            23
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                217
                                            </span>
                                        </div>
                                    </td>

                                    <td class="lay show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            28
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                97
                                            </span>
                                        </div>
                                    </td>

                                    <td class="lay unhighlighted show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            32
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                56
                                            </span>
                                        </div>
                                    </td>

                                    <td class="lay unhighlighted show-size betting-disabled">
                                        <strong class="odds ng-binding">
                                            34
                                        </strong>
                                        <div class="size">
                                            <span class="ng-binding">
                                                1,010
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" is-open="status.open">
                    <uib-accordion-heading>
                        Matched Bets
                        <i class="pull-right icon-right fa" ng-class="{'fa-chevron-up': status.open, 'fa-chevron-down': !status.open}"></i>
                    </uib-accordion-heading>
                    <div class="runners accordion-content">
                        <div class="race-rows ng-isolate-scope">
                            <table class="market-listing-table apl-table -qa-odds-test ng-scope">
                                <thead>
                                    <tr>
                                        <th class="title ng-binding">Top 3 of 7 runners
                                            <span class="ng-binding ng-scope">(opens in 5hrs 5mins)</span>
                                        </th>
                                        <th class="_align-center ng-scope" colspan="3" translate="">Back</th>
                                        <th class="_align-center ng-scope" colspan="3" translate="">Lay</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="race-runner-info">
                                                <div class="runner-numbers column ng-scope">
                                                    <span>1</span>
                                                </div>
                                                <div class="runner-image column ng-scope">
                                                    <img ng-src="/api/media/jockeysilk/YzIwMTgwNTA4ZmFrLzAwODQ2NTExLmpwZw" class="ng-scope" src="/api/media/jockeysilk/YzIwMTgwNTA4ZmFrLzAwODQ2NTExLmpwZw">
                                                </div>
                                                <div class="name column">
                                                    <span class="main ng-binding">Caviar Dallen</span>
                                                    <span class="secondary ng-binding ng-scope">James Bowen</span>
                                                </div>
                                            </div>
                        </div>
                        </td>
                        <td class="show-size">
                            <strong class="odds ng-binding">
                                6.00
                            </strong>
                            <div class="size">
                                <span class="ng-binding">
                                    229
                                </span>
                            </div>
                        </td>
                        <td class="show-size">
                            <strong class="odds ng-binding">
                                6.20
                            </strong>
                            <div class="size">
                                <span class="ng-binding">
                                    322
                                </span>
                            </div>
                        </td>
                        <td class="show-size">
                            <strong class="odds ng-binding">
                                6.40
                            </strong>
                            <div class="size">
                                <span class="ng-binding">
                                    206
                                </span>
                            </div>
                        </td>
                        <td class="show-size">
                            <strong class="odds ng-binding">
                                7.00
                            </strong>
                            <div class="size">
                                <span class="ng-binding">
                                    242
                                </span>
                            </div>
                        </td>
                        <td class="show-size">
                            <strong class="odds ng-binding">
                                7.60
                            </strong>
                            <div class="size">
                                <span class="ng-binding">
                                    565
                                </span>
                            </div>
                        </td>
                        <td class="show-size">
                            <strong class="odds ng-binding">
                                7.80
                            </strong>
                            <div class="size">
                                <span class="ng-binding">
                                    289
                                </span>
                            </div>
                        </td>
                        </tr>
                        </table>

                    </div>

                </div>
            </uib-accordion>
        </div>
    </div>
</div>