<div class="available-bal">
    <accountbalance></accountbalance>
    <div class="order-listing common-heading">
        <h1>My Bets</h1>
        <!-- <div class="row">
            <div class="column">
                <div class="selection">
                    <div class="item  selected" ng-class="?'selected':''" ng-click="vm.selectCurrent()">Current</div>
                    <div class="item " ng-class="?'selected':''" ng-click="vm.selectPast()">Past</div>
                </div>
                <div class="selection alt">
                    <div class="item  selected" ng-class="vm.isMatched?'selected':''" ng-click="vm.selectMatched()">Matched</div>
                    <div class="item " ng-class="!vm.isMatched?'selected':''" ng-click="vm.selectUnmatched()">Unmatched</div>
                </div>
            </div>
            <div class="column">
                <div>
                    <div class="apl-report-filter ng-isolate-scope">
                        <datepicker date-format="dd/MM/yyyy" selector="apl-input-datepicker-from" class="ng-isolate-scope">
                            <span class="label-title">From</span>
                            <input ng-model="filters.from" class="apl-input-datepicker-from ng-pristine ng-untouched ng-valid ng-not-empty" type="text"
                                readonly="">
                        </datepicker>
                        <datepicker date-format="dd/MM/yyyy" selector="apl-input-datepicker-to" class="ng-isolate-scope">
                            <span class="label-title">To</span>
                            <input ng-model="filters.to" class="apl-input-datepicker-to ng-pristine ng-untouched ng-valid ng-not-empty" type="text" readonly="">
                        </datepicker>
                        <button id="submit" class="apl-btn apl-btn-primary" type="submit">
                            <i class="fas fa-search"></i> Search
                        </button>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <pre>{{accountStatement | json}}</pre> -->
        <div class="error-msg" ng-if="error == 'TEMPORARY_BAN_TOO_MANY_REQUESTS'">
            TEMPORARY LOST CONNECTION TOO MANY REQUESTS"
        </div>
        <div class="error-msg" ng-if="error =='No data Found'">
            No data Found
        </div>
        <table class="listing apl-table table" ng-if="accountStatement">
            <thead class="thead-dark">
                <tr>
                    <!-- <th>Settled</th> -->
                    <th>Placed</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th class="numeric ">Odds</th>
                    <th class="numeric ">Stake</th>
                    <!-- <th class="numeric  ">Liability</th> -->
                    <th class="numeric ">Profit/Loss</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bet in accountStatement">
                    <!-- <td>
                        <span class="order-date">
                            <div type="fullDate">07/05/2018</div>
                        </span>
                        <span class="order-time">
                            <div type="time">23:40:16</div>
                        </span>
                    </td> -->
                    <td>
                        <span class="order-date">
                            <div type="fullDate">{{bet.legacyData.placedDate | date : "dd.MM.yyyy"}}</div>
                        </span>
                        <span class="order-time">
                            <div type="time">{{bet.legacyData.placedDate | date: "h:mm:ss"}}</div>
                        </span>
                    </td>
                    <td>
                        <span class="order-event ">
                            <span date-string="order.eventName" timestamp="order.marketTime">{{bet.legacyData.fullMarketName}}</span>
                        </span>
                        <span class="order-betId split ">
                            <label>Bet ID</label>{{bet.refId}}</span>
                    </td>
                    <td>
                        <span ng-if="bet.legacyData.betType == 'L'"> Lay</span>
                        <span ng-if="bet.legacyData.betType == 'B'"> Back</span>
                    </td>
                    <td class="numeric" ng-class="{'-negative': bet.legacyData.avgPrice < 0, '-positive': bet.legacyData.avgPrice > 0}">
                        {{(bet.legacyData.avgPrice || 0)| number:2}}
                    </td>
                    <td class="numeric" ng-class="{'-negative': bet.legacyData.betSize < 0, '-positive': bet.legacyData.betSize > 0}">
                        {{(bet.legacyData.betSize || 0)| number:2}}
                    </td>
                    <td class="numeric" ng-class="{'-negative': bet.amount < 0, '-positive': bet.amount > 0}">
                        {{(bet.amount|| 0)| number:2}}
                    </td>
                    <td ng-class="{'-negative':bet.legacyData.winLose=='RESULT_LOST', '-positive': bet.legacyData.winLose=='RESULT_WON'}">
                        <span ng-if="bet.legacyData.winLose=='RESULT_WON'">
                            Won
                        </span>
                        <span ng-if="bet.legacyData.winLose=='RESULT_LOST'">
                            Lose
                        </span>
                        <span ng-if="bet.legacyData.winLose=='RESULT_NOT_APPLICABLE'">
                            --
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>