<div class="available-bal">
    <accountbalance></accountbalance>
    <div class="order-listing common-heading">
        <h1 >My Bets</h1>
        <!-- <div class="row">
            <div class="column">
                <div class="selection">
                    <div class="item  selected" ng-class="?'selected':''" ng-click="vm.selectCurrent()">Current</div>
                    <div class="item " ng-class="?'selected':''" ng-click="vm.selectPast()">Past</div>
                </div>
                <div class="selection alt">
                    <div class="item  selected" ng-class="vm.isMatched?'selected':''" ng-click="vm.selectMatched()">Matched</div>
                    <div class="item " ng-class="!vm.isMatched?'selected':''" ng-click="vm.selectUnmatched()">Unmatched</div>
                </div>
            </div>
            <div class="column">
                <div>
                    <div class="apl-report-filter ng-isolate-scope">
                        <datepicker date-format="dd/MM/yyyy" selector="apl-input-datepicker-from" class="ng-isolate-scope">
                            <span class="label-title">From</span>
                            <input ng-model="filters.from" class="apl-input-datepicker-from ng-pristine ng-untouched ng-valid ng-not-empty" type="text"
                                readonly="">
                        </datepicker>
                        <datepicker date-format="dd/MM/yyyy" selector="apl-input-datepicker-to" class="ng-isolate-scope">
                            <span class="label-title">To</span>
                            <input ng-model="filters.to" class="apl-input-datepicker-to ng-pristine ng-untouched ng-valid ng-not-empty" type="text" readonly="">
                        </datepicker>
                        <button id="submit" class="apl-btn apl-btn-primary" type="submit">
                            <i class="fas fa-search"></i> Search
                        </button>
                    </div>
                </div>
            </div>
        </div> -->
        <table class="listing apl-table table">
            <thead class="thead-dark">
                <tr>
                    <th >Settled</th>
                    <th class=" ">Placed</th>
                    <th >Description</th>
                    <th >Type</th>
                    <th class="numeric ">Odds</th>
                    <th class="numeric ">Stake</th>
                    <th class="numeric  ">Liability</th>
                    <th class="numeric ">Profit/Loss</th>
                    <th class=" ">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span class="order-date">
                            <time type="fullDate">07/05/2018</time>
                        </span>
                        <span class="order-time">
                            <time type="time">23:40:16</time>
                        </span>
                    </td>
                    <td>
                        <span class="order-date">
                            <time timestamp="vm.makeDate(order.betPlacedDate)" type="fullDate">07/05/2018</time>
                        </span>
                        <span class="order-time">
                            <time timestamp="vm.makeDate(order.betPlacedDate)" type="time">23:37:50</time>
                        </span>
                    </td>
                    <td>
                        <span class="order-event ">
                            <span date-string="order.eventName" timestamp="order.marketTime">Sunrisers Hyderabad v Royal Challengers Bangalore</span>
                        </span>
                        <span ng-switch="" on="order.marketBettingType">
                            <span ng-switch-default="">
                                <span class="order-selection ">No</span>
                                <span class="order-market ">Tied Match</span>
                            </span>
                        </span>

                        <span class="order-betId split ">
                            <label >Bet ID</label>1805071807506310</span>

                        <span class="order-placed-date split">
                            <label >Placed</label>
                            <time timestamp="order.betPlacedDate" type="datetime">07/05/2018 23:37:50</time>
                        </span>
                    </td>
                    <td >
                        Lay
                    </td>
                    <td class="numeric ">
                        1.020
                    </td>
                    <td class="numeric ">
                        30.00
                    </td>
                    <td class="numeric  ">
                        0.60
                    </td>
                    <td class="numeric  -negative">
                        -0.60
                    </td>
                    <td class=" -negative">
                        LOST
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="order-date">
                            <time type="fullDate" >06/05/2018</time>
                        </span>
                        <span class="order-time">
                            <time type="time" >23:29:50</time>
                        </span>
                    </td>
                    <td >
                        <span class="order-date">
                            <time timestamp="vm.makeDate(order.betPlacedDate)" type="fullDate" >06/05/2018</time>
                        </span>
                        <span class="order-time">
                            <time timestamp="vm.makeDate(order.betPlacedDate)" type="time" >21:54:20</time>
                        </span>
                    </td>
                    <td>
                        <span class="order-event ">
                            <span date-string="order.eventName" timestamp="order.marketTime" >Kings XI Punjab v Rajasthan Royals</span>
                        </span>


                        <span ng-switch="" on="order.marketBettingType">
                            <span ng-switch-default="" >
                                <span class="order-selection ">No</span>
                                <span class="order-market ">Tied Match</span>
                            </span>
                        </span>

                        <span class="order-betId split ">
                            <label >Bet ID</label>1805061624202686</span>

                        <span class="order-placed-date split">
                            <label >Placed</label>
                            <time timestamp="order.betPlacedDate" type="datetime" >06/05/2018 21:54:20</time>
                        </span>
                    </td>
                    <td >
                        Lay
                    </td>
                    <td class="numeric ">
                        1.020
                    </td>
                    <td class="numeric ">
                        100.00
                    </td>
                    <td class="numeric  ">
                        2.00
                    </td>
                    <td class="numeric  -negative">
                        -2.00
                    </td>
                    <td class=" -negative">
                        LOST
                    </td>
                </tr>
                <tr >
                    <td>
                        <span class="order-date">
                            <time type="fullDate" >06/05/2018</time>
                        </span>
                        <span class="order-time">
                            <time type="time" >23:29:50</time>
                        </span>
                    </td>
                    <td >
                        <span class="order-date">
                            <time timestamp="vm.makeDate(order.betPlacedDate)" type="fullDate" >06/05/2018</time>
                        </span>
                        <span class="order-time">
                            <time timestamp="vm.makeDate(order.betPlacedDate)" type="time" >22:22:01</time>
                        </span>
                    </td>
                    <td>
                        <span class="order-event ">
                            <span date-string="order.eventName" timestamp="order.marketTime" >Kings XI Punjab v Rajasthan Royals</span>
                        </span>
                        <span ng-switch="" on="order.marketBettingType">
                            <span ng-switch-default="" >
                                <span class="order-selection ">No</span>
                                <span class="order-market ">Tied Match</span>
                            </span>
                        </span>
                        <span class="order-betId split ">
                            <label >Bet ID</label>1805061652015249</span>

                        <span class="order-placed-date split">
                            <label >Placed</label>
                            <time timestamp="order.betPlacedDate" type="datetime" >06/05/2018 22:22:01</time>
                        </span>
                    </td>
                    <td>
                        Back
                    </td>
                    <td class="numeric ">
                        1.020
                    </td>
                    <td class="numeric ">
                        50.00
                    </td>
                    <td class="numeric  ">

                    </td>
                    <td class="numeric  -positive">
                        1.00
                    </td>
                    <td class=" -positive">
                        WON
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="order-date">
                            <time type="fullDate">06/05/2018</time>
                        </span>
                        <span class="order-time">
                            <time type="time">23:29:50</time>
                        </span>
                    </td>
                    <td>
                        <span class="order-date">
                            <time timestamp="vm.makeDate(order.betPlacedDate)" type="fullDate">06/05/2018</time>
                        </span>
                        <span class="order-time">
                            <time timestamp="vm.makeDate(order.betPlacedDate)" type="time">22:39:44</time>
                        </span>
                    </td>
                    <td>
                        <span class="order-event ">
                            <span date-string="order.eventName" timestamp="order.marketTime">Kings XI Punjab v Rajasthan Royals</span>
                        </span>


                        <span ng-switch="" on="order.marketBettingType">
                            <span ng-switch-default="">
                                <span class="order-selection ">No</span>
                                <span class="order-market ">Tied Match</span>
                            </span>
                        </span>

                        <span class="order-betId split ">
                            <label >Bet ID</label>1805061709440739</span>

                        <span class="order-placed-date split">
                            <label >Placed</label>
                            <time timestamp="order.betPlacedDate" type="datetime">06/05/2018 22:39:44</time>
                        </span>
                    </td>
                    <td >
                        Back
                    </td>
                    <td class="numeric ">
                        1.020
                    </td>
                    <td class="numeric ">
                        50.00
                    </td>
                    <td class="numeric  ">

                    </td>
                    <td class="numeric  -positive">
                        1.00
                    </td>
                    <td class=" -positive">
                        WON
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>