<div class="avilable-credit">
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>
                <span>
                    <strong class="">Available Credit:</strong>
                    <span class="value ">{{balanceData.balance}}</span>
                </span>
                <i class="pull-right icon-right fa" ng-class="{'fa-chevron-up': status.open, 'fa-chevron-down': !status.open}"></i>
            </uib-accordion-heading>
            <ul class="list-wrap shown -animate" ng-class="overviewClass">
                <li class="ng-binding">
                    <strong class="ng-binding">Credit Limit:</strong>
                    {{balanceData.creditLimit}}
                </li>
                <li>
                    <strong class="ng-binding">Winnings:</strong>
                    <span ng-class="{'-negative': accountInfo.totalBalance < 0, '-positive': accountInfo.totalBalance > 0}" class="ng-binding -negative">-39.13</span>
                </li>
                <li>
                    <strong class="ng-binding">Total Net Exposure:</strong>
                    <span ng-class="{'-negative': accountInfo.deductedExposure !== 0}" class="ng-binding">{{netExposureData.netExposure}}</span>
                </li>
            </ul>
        </div>
    </uib-accordion>
</div>