<div class="avilable-credit" ng-controller="headerCtrl">
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="status.open">
            <uib-accordion-heading>
                <span>
                    <strong>Available Bet Balance:</strong>
                    <span class="value">{{(accountFunds.availableToBetBalance || 0)| number:2}}</span>
                </span>
                <i class="pull-right icon-right fas" ng-class="{'fa-angle-up': status.open, 'fa-angle-down': !status.open}"></i>
            </uib-accordion-heading>
            <ul class="list-wrap shown -animate" ng-class="overviewClass">
                <!-- <li>
                    <strong>Net Exposure:</strong>
                    {{balanceData.creditLimit || 0}}
                </li> -->
                <!-- <li>
                    <strong>Winnings:</strong>
                    <span ng-class="{'-negative': accountInfo.totalBalance < 0, '-positive': accountInfo.totalBalance > 0}" class="ng-binding -negative">-39.13</span>
                </li> -->
                <li>
                    <strong>Net Exposure:</strong>
                    <span class="value" ng-class="{'-negative': accountFunds.exposure < 0, '-positive': accountFunds.exposure > 0}">
                        {{(accountFunds.exposure || 0)| number:2}}
                    </span>

                    <!-- <displaynumber ng-model="netExposureData"></displaynumber> -->
                </li>
            </ul>
        </div>
    </uib-accordion>
</div>