<table class="market-listing-table apl-table">

    <thead>
        <tr>
            <th class="title">Match</th>
            <th class="col-first-player _align-center" colspan="2">1</th>
            <th class="col-first-player _align-center" colspan="2">x</th>
            <th class="col-second-player _align-center" colspan="2">2</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="match in matches">
            <td>
                <i class="far fa-star apl-icon-star-o"></i>
                <a class="event-name" href="">{{match.name}}</a>
                <small class="">
                    <time timestamp="event.start" type="gmtDateTime" class="">{{match.createdAt | date:'dd/MM/yyyy hh:mm'}}</time>
                </small>
                <small class="in-play-content ng-binding ng-scope">
                    <i class="fas fa-play-circle"></i>In-Play
                </small>
            </td>

            <td class="back betting-disabled" side="back">
                <strong class="odds ">
                    {{match.runners[0].back[0].price}}
                </strong>
                <div class="size">
                    <span class="">
                        27,282
                    </span>
                </div>
            </td>
            <td class="lay betting-disabled" side="lay">
                <strong class="odds ">
                    {{match.runners[0].lay[0].price}}
                </strong>
                <div class="size">
                    <span class="">
                        17,817
                    </span>
                </div>
            </td>
            <td class="back betting-disabled" side="back">
                <strong class="odds ">
                    {{match.runners[1].back[0].price}}
                </strong>
                <div class="size">
                    <span class="">
                        6,535
                    </span>
                </div>
            </td>
            <td class="lay betting-disabled" side="lay">
                <strong class="odds ">
                    {{match.runners[1].lay[0].price}}
                </strong>
                <div class="size">
                    <span class="">
                        27,282
                    </span>
                </div>
            </td>
            <td class="back betting-disabled" side="back">
                <strong class="odds ">
                    {{match.runners[2].back[0].price}}
                </strong>
                <div class="size">
                    <span class="">
                        6,535
                    </span>
                </div>
            </td>
            <td class="lay betting-disabled" side="lay">
                <strong class="odds ">
                    {{match.runners[2].lay[0].price}}
                </strong>
                <div class="size">
                    <span class="">
                        27,282
                    </span>
                </div>
            </td>
        </tr>
    </tbody>
</table>