<div class="-full-size login-view">
    <div class="version">
        <ul class="list-style">
            <li>
                <label for="">Latest Version:</label> 1.03
            </li>
            <li>
                <label for="">Earlier Version:</label> 1.02
            </li>
            <li>
                <label for="">Disabled Version:</label> 1.02
            </li>
        </ul>

    </div>
    <div class="login-form">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <div class="logo"></div>
            </div>
            <div class="panel-body">
                <h1>Kings Registration</h1>
                <form class="apl-form ng-pristine ng-valid" name="signupForm" ng-submit="userSignup(credentials)">
                    <div class="form-group">
                        <input type="email" placeholder="Email*" name="email" class="apl-form-large form-control login-field input-Email" ng-model="credentials.email"
                            required>
                        <span class="valid" ng-show="signupForm.email.$touched && signupForm.email.$invalid">*Email is required.</span>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Name*" name="name" class="apl-form-large form-control login-field input-Email" ng-model="credentials.name"
                            required>
                        <span class="valid" ng-show="signupForm.name.$touched && signupForm.name.$invalid">*Name is required.</span>
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" name="password" class="apl-form-large form-control login-field input-Email"
                            ng-model="credentials.password" required>
                        <span class="valid" ng-show="signupForm.password.$touched && signupForm.password.$invalid">*Password is required.</span>
                        <span class="valid" ng-show="inValidpassword">Invalid password pattern</span>
                        <span>
                            <ul class="password-validator list-unstyled">
                                <li>
                                    At least 1 uppercase character (A-Z)
                                </li>
                                <li>
                                    At least 1 lowercase character (a-z)
                                </li>
                                <li>
                                    At least 1 digit (0-9)
                                </li>
                                <li>
                                    At least 10 characters
                                </li>
                                <li>
                                    At most 128 characters
                                </li>
                                <li>
                                    Not more than 2 identical characters in a row (e.g., 111 not allowed)
                                </li>
                            </ul>
                        </span>
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Confirm Password" name="confirmpassword" class="apl-form-large form-control login-field input-Email"
                            ng-model="credentials.confirmPassword" required>
                        <span class="valid" ng-show="credentials.confirmPassword != credentials.password">*Password don't match.</span>
                    </div>
                    <div class="form-group">
                        <select name="country" ng-model="credentials.country" class="form-control" ng-options="c.name as c.name for c in countries"
                            required>
                            <option value="">Select</option>
                        </select>
                        <div class="error-msg" ng-show="signupForm.country.$touched && signupForm.country.$invalid"> Invalid Country Name </div>
                    </div>
                    <button class="apl-btn apl-btn-secondary apl-btn-large btn-login" ng-disabled="signupForm.$invalid">
                        Register
                    </button>
                </form>
                <div class="text-right signup">
                    <a ui-sref="login">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>