<div class="sport-wrapper ">
    <div class="markets  ">
        <div class="group-sport">
            <a name="group-sport-2"></a>
            <div class="content">
                <div class="group-event common-heading">
                    <div class="header">
                        <h1 class="">
                            <i class="fas fa-play-circle apl-icon-custom-play"></i>

                            Garcia v Martic
                            <time timestamp="vm.eventMarket.start" type="gmtDateTime" class="">07/05/2018 15:15</time>
                        </h1>
                        <div class="start-time ">
                        </div>
                        <span class="opens-in-count-down "></span>
                    </div>
                    <div class="markets-rows " is-markets="true" markets="event.markets" event-id="event.id" markets-ids="vm.marketsIds" is-fav-view="false">
                        <div class="">
                            <table class="market-listing-table apl-table  ">
                                <thead>
                                    <tr>
                                        <th class="market-name title ">
                                            <i class="far fa-star icon-style"></i>
                                            Match Odds
                                        </th>
                                        <th class="back " colspan="2"></th>
                                        <th class="back ">
                                            <span translate="" class="">Back</span>
                                        </th>
                                        <th class="lay ">
                                            <span translate="" class="">Lay</span>
                                        </th>
                                        <th class="lay " colspan="2"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="">
                                        <td>
                                            <div class="event-name ">Caroline Garcia</div>
                                            <div class="selection-pnl ">
                                            </div>
                                        </td>
                                        <td class="back unhighlighted show-size">
                                            <strong class="odds ">
                                                1.04
                                            </strong>
                                            <div class="size">
                                                <span class="">
                                                    214,475
                                                </span>
                                            </div>
                                        </td>
                                        <td class="back unhighlighted show-size">
                                            <strong class="odds ">
                                                1.05
                                            </strong>
                                            <div class="size">
                                                <span class="">
                                                    500,000+
                                                </span>
                                            </div>
                                        </td>
                                        <td class="back show-size">
                                            <strong class="odds ">
                                                1.06
                                            </strong>
                                            <div class="size">
                                                <span class="">
                                                    135,279
                                                </span>
                                            </div>
                                        </td>
                                        <td class="lay show-size">
                                            <strong class="odds ">
                                                1.07
                                            </strong>
                                            <div class="size">
                                                <span class="">
                                                    432,526
                                                </span>
                                            </div>
                                        </td>
                                        <td class="lay unhighlighted show-size">
                                            <strong class="odds ">
                                                1.08
                                            </strong>
                                            <div class="size">
                                                <span class="">
                                                    414,294
                                                </span>
                                            </div>
                                        </td>
                                        <td class="lay unhighlighted show-size">
                                            <strong class="odds ">
                                                1.09
                                            </strong>
                                            <div class="size">
                                                <span class="">
                                                    813
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td>
                                            <div class="event-name ">Petra Martic</div>
                                            <div class="selection-pnl ">

                                            </div>
                                        </td>
                                        <td class="back unhighlighted show-size">
                                            <strong class="odds ">
                                                15.5
                                            </strong>
                                            <div class="size">
                                                <span class="">
                                                    2,464
                                                </span>
                                            </div>
                                        </td>
                                        <td class="back unhighlighted show-size">
                                            <strong class="odds ">
                                                16.0
                                            </strong>
                                            <div class="size">
                                                <span class="">
                                                    8,414
                                                </span>
                                            </div>
                                        </td>
                                        <td class="back show-size">
                                            <strong class="odds ">
                                                16.5
                                            </strong>
                                            <div class="size">
                                                <span class="">
                                                    2,177
                                                </span>
                                            </div>
                                        </td>
                                        <td class="lay show-size">
                                            <strong class="odds ">
                                                17.0
                                            </strong>
                                            <div class="size">
                                                <span class="">
                                                    97
                                                </span>
                                            </div>
                                        </td>
                                        <td class="lay unhighlighted show-size">
                                            <strong class="odds ">
                                                17.5
                                            </strong>
                                            <div class="size">
                                                <span class="">
                                                    740
                                                </span>
                                            </div>
                                        </td>
                                        <td class="lay unhighlighted show-size">
                                            <strong class="odds ">
                                                18.0
                                            </strong>
                                            <div class="size">
                                                <span class="">
                                                    7,156
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>