<div class="-full-size login-view">
    <div class="login-form">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <div class="logo"></div>
            </div>
            <div class="panel-body">
                <h1>Sorry</h1>
                <h2>your transaction has been cancelled.</h2>
                        <button class="apl-btn apl-btn-secondary apl-btn-large btn-login">
                            Continue
                        </button>
            </div>
        </div>
    </div>
</div>