<div class="available-bal">
    <!-- <accountbalance></accountbalance> -->
    <div class="change-password ">
        <form class="apl-form apl-form-stacked common-heading" name="passwordForm">
            <h1 translate="" class="">Change Password</h1>

            <div class="message errors -qa-general-error"></div>
            <div class="message validMessage"></div>

            <br>
            <div class="apl-form-row">
                <div class="apl-form-controls">
                    <div class="placeholder-wrapper ng-isolate-scope animatable">
                        <div class="placeholder "></div>
                        <div>
                            <input type="password" placeholder="Old Password" ng-model="passwordInfo.oldPassword" name="oldPassword"
                                required>
                        </div>
                    </div>
                </div>
                <div class="message errors -qa-old-password-error" ng-show="passwordForm.oldPassword.$touched && passwordForm.oldPassword.$invalid">Please
                    enter old password</div>
                <div class="message errors -qa-old-password-error" ng-if="wrongOldPassword">{{wrongOldPassword}}</div>
            </div>

            <div class="apl-form-row">
                <div class="apl-form-controls">
                    <div class="placeholder-wrapper ng-isolate-scope animatable">
                        <div class="placeholder "></div>
                        <div>
                            <input type="password" placeholder="New Password" ng-model="passwordInfo.newPassword" name="newPassword"
                                required>
                        </div>
                    </div>
                </div>
                <div class="message errors -qa-new-password-error" ng-show="passwordForm.newPassword.$touched && passwordForm.newPassword.$invalid">Please
                    enter old password</div>
            </div>

            <div class="apl-form-row">
                <div class="apl-form-controls">
                    <div class="placeholder-wrapper ng-isolate-scope animatable">
                        <div class="placeholder "></div>
                        <div>
                            <input type="password" placeholder="Repeat Password" name="repeatPassword" ng-model="passwordInfo.repeatPassword"
                                required>
                        </div>
                    </div>
                </div>
                <div class="message errors -qa-repeat-password-error" ng-show="passwordForm.repeatPassword.$touched && passwordForm.repeatPassword.$invalid">Please
                    enter repeat password</div>
                <div class="message errors -qa-repeat-password-error" ng-show="passwordForm.repeatPassword.$touched && passwordInfo.newPassword &&  passwordInfo.newPassword !== passwordInfo.repeatPassword">Please
                    enter repeat password correctly</div>
            </div>

            <div class="apl-form-row _align-right">
                <button ng-click="changePassword()" type="submit" class="apl-btn apl-btn-update -qa-save-button "
                    ng-disabled="passwordForm.$invalid || passwordInfo.newPassword !== passwordInfo.repeatPassword">Save</button>
            </div>
        </form>
    </div>
</div>