<div class="available-bal">
    <!-- <accountbalance></accountbalance> -->
    <div class="change-password ">
        <form class="apl-form apl-form-stacked common-heading">
            <h1 translate="" class="">Change Password</h1>

            <div class="message errors -qa-general-error"></div>
            <div class="message validMessage"></div>

            <br>
            <div class="apl-form-row">
                <div class="apl-form-controls">
                    <div class="placeholder-wrapper ng-isolate-scope animatable">
                        <div class="placeholder "></div>
                        <div>
                            <input type="password" placeholder="Old Password">
                        </div>
                    </div>
                </div>
                <div class="message errors -qa-old-password-error"></div>
            </div>

            <div class="apl-form-row">
                <div class="apl-form-controls">
                    <div class="placeholder-wrapper ng-isolate-scope animatable">
                        <div class="placeholder "></div>
                        <div>
                            <input type="password" placeholder="New Password">
                        </div>
                    </div>
                </div>
                <div class="message errors -qa-new-password-error"></div>
            </div>

            <div class="apl-form-row">
                <div class="apl-form-controls">
                    <div class="placeholder-wrapper ng-isolate-scope animatable">
                        <div class="placeholder "></div>
                        <div>
                            <input type="password" placeholder="Repeat Password">
                        </div>
                    </div>
                </div>
                <div class="message errors -qa-repeat-password-error"></div>
            </div>

            <div class="apl-form-row _align-right">
                <button ng-click="vm.checkPassword()" type="submit" class="apl-btn apl-btn-update -qa-save-button " translate="">Save</button>
            </div>
        </form>
    </div>
</div>