<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="sidenav-list-area ml-3">
                <div class="sidenav-list list-group">
                    <a href="" class="list-group-item text-capitalize">Favourites</a>
                    <a href="" class="list-group-item text-capitalize" ng-click="selected='history'">Cricket</a>
                    <a href="" class="list-group-item text-capitalize" ng-click="selected='philosophy'"><i class="fas fa-futbol"></i>Football</a>
                    <a href="" class="list-group-item text-capitalize" ng-click="selected='governance'">Horce Racing</a>
                    <a href="" class="list-group-item text-capitalize" ng-click="selected='safety'">Grayhound Racing</a>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div>
                <div class="mr-4 py-3">
                    <div class="clearfix">
                        <div class="float-left account-title">
                            Account Statement
                        </div>
                        <div class="float-right">
                            <div>
                                <select>
                                <option>Available Credit</option>
                                  <option>Available Credit</option>
                            </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="d-inline-block">
                        <label>From</label>
                        <input type="text" class="" uib-datepicker-popup="{{format}}" ng-model="date" />
                    </div>
                    <div class="d-inline-block px-4">
                        <label>To</label>
                        <input type="text" class="" uib-datepicker-popup="{{format}}" ng-model="date" />
                    </div>
                    <div class="d-inline px-4">
                        <input type="search" placeholder="search">
                    </div>
                </div>
                <div class="my-4">
                    <h6>Total P&L:14.49 </h6>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>

                                <th colspan="2">Description</th>
                                <th>P&L</th>
                                <th>Credit Limit</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="6">21/12/2018</td>
                            </tr>
                            <tr>
                                <td>Default</td>
                                <td>Defaultson</td>
                                <td>def@somemail.com</td>
                                <td>def@somemail.com</td>
                                <td>Default</td>
                                <td>Defaultson</td>
                            </tr>
                            <tr class="table-primary">
                                <td>Primary</td>
                                <td>Joe</td>
                                <td>joe@example.com</td>
                                <td>def@somemail.com</td>
                                <td>Default</td>
                                <td>Defaultson</td>
                            </tr>
                            <tr class="table-success">
                                <td>Success</td>
                                <td>Doe</td>
                                <td>john@example.com</td>
                                <td>def@somemail.com</td>
                                <td>Default</td>
                                <td>Defaultson</td>
                            </tr>
                            <tr>
                                <td colspan="6">21/12/2018</td>
                            </tr>
                            <tr class="table-danger">
                                <td>Danger</td>
                                <td>Moe</td>
                                <td>mary@example.com</td>
                                <td>def@somemail.com</td>
                                <td>Default</td>
                                <td>Defaultson</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <div>
                    <div class="mr-4 py-3">
                        <div class="clearfix">
                            <div class="float-left account-title">
                                Cricket
                            </div>
                            <div class="float-right">
                                <div>
                                    <p>Betting from 30mins before start</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <h6>Total P&L:14.49 </h6>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Match</th>
                                    <th class="text-center" colspan="2">1</th>
                                    <th class="text-center" colspan="2">X</th>
                                    <th class="text-center" colspan="2">2</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>india vr india(2 nd test)</td>
                                    <td>20.20</td>
                                    <td>20.50</td>
                                    <td>00.70</td>
                                    <td>0.00</td>
                                    <td>-</td>
                                    <td>80</td>
                                </tr>
                                <tr class="table-primary">
                                    <td>india vr india(2 nd test)</td>
                                    <td>-</td>
                                    <td>70</td>
                                    <td>00.30</td>
                                    <td>30.40</td>
                                    <td>-</td>
                                    <td>000</td>
                                </tr>
                                   <tr class="table-primary">
                                    <td>india vr india(2 nd test)</td>
                                    <td>-</td>
                                    <td>70</td>
                                    <td>00.30</td>
                                    <td>30.40</td>
                                    <td>-</td>
                                    <td>000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
       </div>
    </div>
</div>