<div class="-full-size login-view">
    <div class="version">
        <ul class="list-style">
            <li>
                <label for="">Latest Version:</label> 1.03
            </li>
            <li>
                <label for="">Earlier Version:</label> 1.02
            </li>
            <li>
                <label for="">Disabled Version:</label> 1.02
            </li>
        </ul>

    </div>
    <div class="login-form">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <div class="logo"></div>
            </div>
            <div class="panel-body">
                <!-- <h1>Kings Registration</h1> -->
                <button class="apl-btn apl-btn-secondary apl-btn-large btn-login" ng-click="goTologin()" ng-disabled="signupForm.$invalid"
                    ng-if="isfreeSubcription !=true">
                    Try free subcription
                </button>
                <div class="text-center signup" ng-if="isfreeSubcription !=true">
                    <p style="font-size: 14px;">One month free subcription*</p>
                </div>
                <button class="apl-btn apl-btn-secondary apl-btn-large btn-login" ng-click="payNow()">
                    Pay Now
                </button>
                <div class="text-center signup">
                    <p style="font-size: 14px;">One month subscription fees : &pound; 8.99*</p>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>