<div class="edit-stake-row text-center">
    <form name="placeBetForm" ng-submit="saveStake(stakeData)">
        <div class="row">
            <div class="col-md-4">
                <input type="number" ng-model="stakeData.stake[0]" class="stake-input">
            </div>
            <div class="col-md-4">
                <input type="number" ng-model="stakeData.stake[1]" class="stake-input">
            </div>
            <div class="col-md-4">
                <input type="number" ng-model="stakeData.stake[2]" class="stake-input">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input type="number" ng-model="stakeData.stake[3]" class="stake-input">
            </div>
            <div class="col-md-4">
                <input type="number" ng-model="stakeData.stake[4]" class="stake-input">
            </div>
            <div class="col-md-4">
                <input type="number" ng-model="stakeData.stake[5]" class="stake-input">
            </div>
        </div>
        <div class="mt-2">
            <a role="button" ng-click="$dismiss()">Cancel</a>
            <button type="submit" class="apl-btn apl-btn-primary mr-3" promise-btn="promise">Save</button>
        </div>
    </form>
</div>