<div class="edit-stake-row text-center">
    <form name="placeBetForm" ng-submit="placeBet()">
        <div class="row">
            <div class="col-md-4">
                <input type="number" ng-value="100" class="stake-input">
            </div>
            <div class="col-md-4">
                <input type="number" ng-value="500" class="stake-input">
            </div>
            <div class="col-md-4">
                <input type="number" ng-value="1000" class="stake-input">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input type="number" ng-value="5000" class="stake-input">
            </div>
            <div class="col-md-4">
                <input type="number" ng-value="10000" class="stake-input">
            </div>
            <div class="col-md-4">
                <input type="number" ng-value="25000" class="stake-input">
            </div>
        </div>
        <div class="mt-2">
            <a role="button" ng-click="$dismiss()">Cancel</a>
            <button type="submit" class="apl-btn apl-btn-primary mr-3" promise-btn="promise">Save</button>
        </div>
    </form>
</div>