/* Bootstrap Variables Goes Here */

// Colors
//
// Grayscale and brand colors for use across Bootstrap.
// Start with assigning color names to specific hex values.
$white: #fff !default;
$black: #000 !default;
$red: #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green: #1d7f1e !default;
$blue: #084e83 !default;
$teal: #5bc0de !default;
$pink: #ff5b77 !default;
$purple: #601c78 !default;
// Create grayscale
$gray-dark: #292b2c !default;
$gray: #464a4c !default;
$gray-light: #636c72 !default;
$gray-lighter: #eceeef !default;
$gray-lightest: #f7f7f9 !default;
// Reassign color vars to semantic color scheme
$brand-primary: $blue !default;
$brand-success: $green !default;
$brand-info: $teal !default;
$brand-warning: $orange !default;
$brand-danger: $red !default;
$brand-inverse: $gray-dark !default;
// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded: true !default;
$enable-shadows: false !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-print-styles: true !default;
// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.
$spacer: 1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
// Style anchor elements.
$link-color: $brand-primary !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;
// Fonts
//
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: -apple-system,
system-ui,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif !default;
$font-family-serif: Georgia,
"Times New Roman",
Times,
serif !default;
$font-family-monospace: Menlo,
Monaco,
Consolas,
"Liberation Mono",
"Courier New",
monospace !default;
$font-family-base: $font-family-sans-serif !default;
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: 1.25rem !default;
$font-size-sm: .875rem !default;
$font-size-xs: .75rem !default;
$font-weight-normal: normal !default;
$font-weight-bold: bold !default;
$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;
$font-size-h1: 2.5rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1.25rem !default;
$font-size-h6: 1rem !default;
$headings-margin-bottom: ($spacer / 2) !default;
$headings-font-family: inherit !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;
// Components
//
// Define common padding and border radius sizes and more.
$line-height-lg: (4 / 3) !default;
$line-height-sm: 1.5 !default;
$border-radius: .25rem !default;
$border-radius-lg: .3rem !default;
$border-radius-sm: .2rem !default;
$component-active-color: $white !default;
$component-active-bg: $brand-primary !default;
$caret-width: .3em !default;
$transition-base: all .2s ease-in-out !default;
$transition-fade: opacity .15s linear !default;
$transition-collapse: height .35s ease !default;
// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.
$btn-padding-x: 1rem !default;
$btn-padding-y: .5rem !default;
$btn-line-height: 1.25 !default;
$btn-font-weight: $font-weight-normal !default;
$btn-box-shadow: inset 0 1px 0 rgba($white, .15),
0 1px 1px rgba($black, .075) !default;
$btn-focus-box-shadow: 0 0 0 2px rgba($brand-primary, .25) !default;
$btn-active-box-shadow: inset 0 3px 5px rgba($black, .125) !default;
// Forms
$input-padding-x: .75rem !default;
$input-padding-y: .5rem !default;
$input-line-height: 1.25 !default;
$input-bg: $white !default;
$input-bg-disabled: $gray-lighter !default;
$input-color: $gray !default;
// Dropdowns
//
// Dropdown menu container and contents.
$dropdown-min-width: 10rem !default;
$dropdown-padding-y: .5rem !default;
$dropdown-margin-top: .125rem !default;
$dropdown-bg: $white !default;
$dropdown-border-color: rgba($black, .15) !default;
$dropdown-box-shadow: 0 .5rem 1rem rgba($black, .175) !default;
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../bower_components/bootstrap/scss/bootstrap";
@import "other/font-fix";
body {
    background: url('../img/bg.png') no-repeat;
    background-size: 60%;
    background-position: center center;
}

.height-100 {
    height: 100vh;
}

.content {
    min-height: calc(100vh - 153px);
}

img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

img {
    opacity: 0;
    transition: all 300ms ease;
}

img.doneLoading {
    opacity: 1;
}

nav li:hover .dropdown-menu {
    display: block;
}

#map img {
    opacity: 1;
}

a,
.btn,
[ui-sref] {
    cursor: pointer;
    transition: all ease 300ms;
}

footer {
    font-size: 12px;
    background-color: #141414;
    padding: 10px 0;
    p {
        margin: 0;
    }
}

//bootstrap forms
.input-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.btn,
.form-control {
    border-radius: 0;
    box-shadow: none;
}

.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    box-shadow: none;
}

.form-group {
    position: relative;
}

.form-invalid {
    color: $brand-danger;
    .form-control {
        border-color: $brand-danger;
        color: $brand-danger;
        &::-webkit-input-placeholder {
            color: $brand-danger;
        }
    }
}

.form-submission {
    min-height: 300px;
}

//FLEX SLIDER FIXES
.flex-direction-nav {
    a {
        height: auto;
    }
    .flex-prev {
        left: 10px !important;
    }
    .flex-next {
        right: 10px !important;
    }
}

.img-full {
    width: 100%;
    display: block;
}

header {
    transition: all 300ms ease;
}

.nav-up {
    transform: translateY(-100%);
}

.fa-svg-icon {
    display: inline-block;
    vertical-align: middle;
    min-width: 1em;
    min-height: 1em;
    height: 100%;
    position: relative;
    top: -1px;
}

//rating
.fa-svg-icon svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*-----------------------common classes------------------------*/

.content-justify {
    justify-content: flex-end;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/*--------------------------rightside menu----------------*/

.nav-pills .nav-link {
    padding: 8px 20px;
    color: $blue; // color: #d0e9fc;
    background-color: #d0e9fc;
}

.nav-pills .nav-link.active,
    {
    background-color: $white;
    color: $blue;
}

.nav-pills .nav-link {
    border-radius: 0rem;
}

.matchbets {
    .card-header {
        background: $purple;
    }
    .card-body {
        padding: 0.25rem;
    }
    .card {
        border: none;
    }
    .icon-right {
        float: right;
        background: $white;
        color: $purple;
        font-size: 14px;
        padding: 3px;
        margin-top: 2px;
    }
}

.avilable-credit {
    .card {
        border: 1px solid $green;
    }
    .card-header {
        background: $green;
    }
    .icon-right {
        float: right; // background: $white;
        color: $white;
        font-size: 20px;
        padding: 1px;
        margin-top: -1px;
    }
}

.matchbets {
    .card-header {
        a {
            display: block;
        }
    }
}

.card-header {
    padding: 0rem 0.6rem;
    text-align: center;
    color: $white;
    h5 {
        color: $white;
        font-weight: bold;
        padding: 5px 0;
        margin: 0;
    }
    a:hover {
        color: $white;
        text-decoration: none;
    }
    a {
        color: $white;
        text-decoration: none;
    }
}

.betslip-content {
    text-align: center;
    padding: 10px;
}

.event-name-blue {
    color: #1a69a4 !important;
}

.event-name-blue:hover {
    color: #1a69a4 !important;
    text-decoration: underline !important;
}

.available-bal accountbalance {
    float: right;
    width: 28%;
}

.toggle-custom {
    .switch {
        position: relative;
        display: inline-block;
        width: 55px;
        height: 30px;
    }
    .switch input {
        display: none;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 34px;
    }
    .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 4px;
        bottom: 4px;
        border: 1px solid #d9d9d9;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
    }
    input:checked+.slider {
        background-color: #155e16;
    }
    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }
    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(25px);
    }
    /*------ ADDED CSS ---------*/
    .slider:after {
        content: 'OFF';
        color: #d9d9d9;
        display: block;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 65%;
        font-size: 10px;
        font-family: Verdana, sans-serif;
    }
    input:checked+.slider:after {
        content: 'ON';
        left: 30%;
    }
    /*--------- END --------*/
}

.onclick-ani {
    animation: toggle-right 0s;
}

@keyframes toggle-right {
    0% {
        margin-left: -10px;
    }
    100% {
        margin-left: 0px;
    }
}

.one-betting {
    font-size: 12px;
    line-height: 32px;
    height: 27px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.65)
}

//scss for icon
@font-face {
    font-family: 'Kingsbet';
    src: url(../fonts/Kingsbet.eot);
    src: url('../fonts/Kingsbet.eot?dqajku#iefix') format('embedded-opentype'), url('../fonts/Kingsbet.ttf?dqajku') format('truetype'), url('../fonts/Kingsbet.woff?dqajku') format('woff'), url('../fonts/Kingsbet.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Kingsbet' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-kings_cricket:before {
    content: "\e900";
}

.icon-kings_football:before {
    content: "\e901";
}

.icon-kings_greyhound:before {
    content: "\e902";
}

.icon-kings_horseracing:before {
    content: "\e903";
}

.icon-kings_tennis:before {
    content: "\e904";
}

.confirmbet-bg {
    padding: 50px;
    position: relative;
    font-size: 16px;
    .apl-btn {
        margin: 0 20px;
        font-size: 16px;
    }
}

.close-modal {
    position: absolute;
    top: 6px;
    right: 11px;
    cursor: pointer;
    .fa {
        font-size: 20px;
        color: #ccc;
    }
}

.negative {
    color: #d01901;
    font-weight: bold;
}

.positive {
    color: #2aa033;
    font-weight: bold;
}

.version {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 14px;
    ul li label {
        font-weight: 600;
        letter-spacing: 1px;
        margin-right: 10px;
    }
}

.-negative {
    color: $red;
    font-weight: bold;
}

.login-form .login-panel .panel-body .btn-login {
    margin-top: 15px;
    width: 100%;
    min-height: 35px;
    font-size: 20px;
    line-height: 50px;
    text-transform: none;
}

.selection {
    background: #ddd;
    margin-bottom: 4px;
    padding: 5px 10px;
    &.LAY {
        background: #f9c9d4;
    }
    &.BACK {
        background: #a7d8fd;
    }
}

.selection-header .event-name {
    font-weight: bold;
}

.selection-header .bet-header {
    font-weight: 600;
    border-bottom: 1px solid #727171;
}

.selection-name {
    font-weight: 600;
}

.placeholder.BACK {
    color: #009688;
    font-weight: 600;
}

.placeholder.LAY {
    color: #F44336;
    font-weight: 600;
}

.signup {
    font-size: 18px;
    margin-top: 10px;
    a {
        color: #444;
        font-weight: 600;
        letter-spacing: 1px;
    }
}

.revoke-access {
    border: 1px solid;
    margin-right: 20px;
    color: #ffc107 !important;
    transition: all ease 300ms !important; // margin-right: 10px !important;
    // font-size: 18px !important;
    &:hover {
        text-decoration: none !important;
        color: #a07800 !important;
    }
}