<div class="markets common-heading">
    <div class="header">
        <h1>
            IPL
            <time timestamp="vm.eventMarket.start" type="gmtDateTime" class="">07/04/2018 20:00</time>
        </h1>
        <div class="start-time ">
        </div>
        <span class="opens-in-count-down  "></span>
    </div>
    <div class="markets-rows">
        <div class="">
            <table class="market-listing-table apl-table">
                <thead>
                    <tr>
                        <th class="market-name title ">
                            <i class="far fa-star icon-style"></i>
                            Winner - 2018
                        </th>
                        <th class="back " colspan="2"></th>
                        <th class="back ">
                            <span translate="" class="">Back</span>
                        </th>
                        <th class="lay ">
                            <span translate="" class="">Lay</span>
                        </th>
                        <th class="lay " colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td>
                            <div class="event-name ">Chennai Super Kings</div>
                            <div class="selection-pnl ng-isolate-scope">

                            </div>
                        </td>
                        <td class="back unhighlighted show-size">
                            <strong class="odds ">
                                3.70
                            </strong>
                            <div class="size">
                                <span class="">
                                    400
                                </span>
                            </div>
                        </td>
                        <td class="back unhighlighted show-size">
                            <strong class="odds ">
                                3.75
                            </strong>
                            <div class="size">
                                <span class="">
                                    10,775
                                </span>
                            </div>
                        </td>

                        <td class="back show-size">
                            <strong class="odds ">
                                3.80
                            </strong>
                            <div class="size">
                                <span class="">
                                    43,842
                                </span>
                            </div>
                        </td>

                        <td class="lay show-size">
                            <strong class="odds ">
                                3.85
                            </strong>
                            <div class="size">
                                <span class="">
                                    26,039
                                </span>
                            </div>
                        </td>

                        <td class="lay unhighlighted show-size">
                            <strong class="odds ">
                                3.90
                            </strong>
                            <div class="size">
                                <span class="">
                                    22,266
                                </span>
                            </div>
                        </td>

                        <td class="lay unhighlighted show-size">
                            <strong class="odds ">
                                3.95
                            </strong>
                            <div class="size">
                                <span class="">
                                    19,671
                                </span>
                            </div>
                        </td>
                    </tr>

                    <tr class="">
                        <td>
                            <div class="event-name ">Kings XI Punjab</div>
                            <div class="selection-pnl ng-isolate-scope">
                            </div>
                        </td>
                        <td class="back unhighlighted show-size">
                            <strong class="odds ">
                                5.30
                            </strong>
                            <div class="size">
                                <span class="">
                                    43,876
                                </span>
                            </div>
                        </td>

                        <td class="back unhighlighted show-size">
                            <strong class="odds ">
                                5.40
                            </strong>
                            <div class="size">
                                <span class="">
                                    20,565
                                </span>
                            </div>
                        </td>

                        <td class="back show-size">
                            <strong class="odds ">
                                5.50
                            </strong>
                            <div class="size">
                                <span class="">
                                    24,954
                                </span>
                            </div>
                        </td>

                        <td class="lay show-size">
                            <strong class="odds ">
                                5.60
                            </strong>
                            <div class="size">
                                <span class="">
                                    17,868
                                </span>
                            </div>
                        </td>

                        <td class="lay unhighlighted show-size">
                            <strong class="odds ">
                                5.70
                            </strong>
                            <div class="size">
                                <span class="">
                                    12,656
                                </span>
                            </div>
                        </td>

                        <td class="lay unhighlighted show-size">
                            <strong class="odds ">
                                5.80
                            </strong>
                            <div class="size">
                                <span class="">
                                    47,393
                                </span>
                            </div>
                        </td>

                    </tr>

                    <tr class="">
                        <td>
                            <div class="event-name ">Sunrisers Hyderabad</div>
                            <div class="selection-pnl ng-isolate-scope">
                            </div>
                        </td>
                        <td class="back unhighlighted show-size">
                            <strong class="odds ">
                                4.50
                            </strong>
                            <div class="size">
                                <span class="">
                                    3,300
                                </span>
                            </div>
                        </td>
                        <td class="back unhighlighted show-size">
                            <strong class="odds ">
                                4.50
                            </strong>
                            <div class="size">
                                <span class="">
                                    3,300
                                </span>
                            </div>
                        </td>
                        <td class="back show-size">
                            <strong class="odds ">
                                4.80
                            </strong>
                            <div class="size">
                                <span class="">
                                    55,017
                                </span>
                            </div>
                        </td>
                        <td class="lay show-size">
                            <strong class="odds ">
                                4.90
                            </strong>
                            <div class="size">
                                <span class="">
                                    45,252
                                </span>
                            </div>
                        </td>
                        <td class="lay unhighlighted show-size">
                            <strong class="odds ">
                                5.00
                            </strong>
                            <div class="size">
                                <span class="">
                                    18,700
                                </span>
                            </div>
                        </td>
                        <td class="lay unhighlighted show-size">
                            <strong class="odds ">
                                5.10
                            </strong>
                            <div class="size">
                                <span class="">
                                    14,995
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <div class="event-name ">Royal Challengers Bangalore</div>
                            <div class="selection-pnl ng-isolate-scope">

                            </div>
                        </td>
                        <td class="back unhighlighted show-size">
                            <strong class="odds ">
                                8.60
                            </strong>
                            <div class="size">
                                <span class="">
                                    17,474
                                </span>
                            </div>
                        </td>

                        <td class="back unhighlighted show-size">
                            <strong class="odds ">
                                8.80
                            </strong>
                            <div class="size">
                                <span class="">
                                    1,343
                                </span>
                            </div>
                        </td>

                        <td class="back show-size">
                            <strong class="odds ">
                                9.00
                            </strong>
                            <div class="size">
                                <span class="">
                                    19,298
                                </span>
                            </div>
                        </td>

                        <td class="lay show-size">
                            <strong class="odds ">
                                9.20
                            </strong>
                            <div class="size">
                                <span class="">
                                    15,970
                                </span>
                            </div>
                        </td>

                        <td class="lay unhighlighted show-size">
                            <strong class="odds ">
                                9.40
                            </strong>
                            <div class="size">
                                <span class="">
                                    12,931
                                </span>
                            </div>
                        </td>

                        <td class="lay unhighlighted show-size">
                            <strong class="odds ">
                                9.60
                            </strong>
                            <div class="size">
                                <span class="">
                                    2,809
                                </span>
                            </div>
                        </td>

                    </tr>
                    <tr class="">
                        <td>
                            <div class="event-name ">Kolkata Knight Riders</div>
                            <div class="selection-pnl ng-isolate-scope">

                            </div>
                        </td>
                        <td class="back unhighlighted show-size">
                            <strong class="odds ">
                                6.20
                            </strong>
                            <div class="size">
                                <span class="">
                                    9,392
                                </span>
                            </div>
                        </td>

                        <td class="back unhighlighted show-size">
                            <strong class="odds ">
                                6.40
                            </strong>
                            <div class="size">
                                <span class="">
                                    1,100
                                </span>
                            </div>
                        </td>

                        <td class="back show-size">
                            <strong class="odds ">
                                6.60
                            </strong>
                            <div class="size">
                                <span class="">
                                    13,417
                                </span>
                            </div>
                        </td>

                        <td class="lay show-size">
                            <strong class="odds ">
                                6.80
                            </strong>
                            <div class="size">
                                <span class="">
                                    25,616
                                </span>
                            </div>
                        </td>

                        <td class="lay unhighlighted show-size">
                            <strong class="odds ">
                                7.00
                            </strong>
                            <div class="size">
                                <span class="">
                                    13,897
                                </span>
                            </div>
                        </td>

                        <td class="lay unhighlighted show-size">
                            <strong class="odds ">
                                7.20
                            </strong>
                            <div class="size">
                                <span class="">
                                    183
                                </span>
                            </div>
                        </td>

                    </tr>
                    <tr class="">
                        <td>
                            <div class="event-name ">Mumbai Indians</div>
                            <div class="selection-pnl ng-isolate-scope">

                            </div>
                        </td>
                        <td class="back unhighlighted show-size">
                            <strong class="odds ">
                                20
                            </strong>
                            <div class="size">
                                <span class="">
                                    3,385
                                </span>
                            </div>
                        </td>

                        <td class="back unhighlighted show-size">
                            <strong class="odds ">
                                21
                            </strong>
                            <div class="size">
                                <span class="">
                                    1,560
                                </span>
                            </div>
                        </td>

                        <td class="back show-size">
                            <strong class="odds ">
                                22
                            </strong>
                            <div class="size">
                                <span class="">
                                    1,693
                                </span>
                            </div>
                        </td>
                        <td class="lay show-size">
                            <strong class="odds ">
                                24
                            </strong>
                            <div class="size">
                                <span class="">
                                    708
                                </span>
                            </div>
                        </td>
                        <td class="lay unhighlighted show-size">
                            <strong class="odds ">
                                25
                            </strong>
                            <div class="size">
                                <span class="">
                                    1,071
                                </span>
                            </div>
                        </td>

                        <td class="lay unhighlighted show-size">
                            <strong class="odds ">
                                26
                            </strong>
                            <div class="size">
                                <span class="">
                                    1,269
                                </span>
                            </div>
                        </td>

                    </tr>
                    <tr class="">
                        <td>
                            <div class="event-name ">Rajasthan Royals</div>
                            <div class="selection-pnl ng-isolate-scope">

                            </div>
                        </td>
                        <td class="back unhighlighted show-size">
                            <strong class="odds ">
                                40
                            </strong>
                            <div class="size">
                                <span class="">
                                    3,890
                                </span>
                            </div>
                        </td>

                        <td class="back unhighlighted show-size">
                            <strong class="odds ">
                                42
                            </strong>
                            <div class="size">
                                <span class="">
                                    609
                                </span>
                            </div>
                        </td>

                        <td class="back show-size">
                            <strong class="odds ">
                                44
                            </strong>
                            <div class="size">
                                <span class="">
                                    1,878
                                </span>
                            </div>
                        </td>

                        <td class="lay show-size">
                            <strong class="odds ">
                                46
                            </strong>
                            <div class="size">
                                <span class="">
                                    61
                                </span>
                            </div>
                        </td>

                        <td class="lay unhighlighted show-size">
                            <strong class="odds ">
                                48
                            </strong>
                            <div class="size">
                                <span class="">
                                    1,240
                                </span>
                            </div>
                        </td>

                        <td class="lay unhighlighted show-size">
                            <strong class="odds ">
                                50
                            </strong>
                            <div class="size">
                                <span class="">
                                    732
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <div class="event-name ">Delhi Daredevils</div>
                            <div class="selection-pnl ng-isolate-scope">

                            </div>
                        </td>
                        <td class="back unhighlighted show-size">
                            <strong class="odds ">
                                34
                            </strong>
                            <div class="size">
                                <span class="">
                                    1,056
                                </span>
                            </div>
                        </td>

                        <td class="back unhighlighted show-size">
                            <strong class="odds ">
                                36
                            </strong>
                            <div class="size">
                                <span class="">
                                    7,052
                                </span>
                            </div>
                        </td>

                        <td class="back show-size">
                            <strong class="odds ">
                                38
                            </strong>
                            <div class="size">
                                <span class="">
                                    812
                                </span>
                            </div>
                        </td>
                        <td class="lay show-size">
                            <strong class="odds ">
                                42
                            </strong>
                            <div class="size">
                                <span class="">
                                    517
                                </span>
                            </div>
                        </td>
                        <td class="lay unhighlighted show-size">
                            <strong class="odds ">
                                44
                            </strong>
                            <div class="size">
                                <span class="">
                                    697
                                </span>
                            </div>
                        </td>
                        <td class="lay unhighlighted show-size">
                            <strong class="odds ">
                                46
                            </strong>
                            <div class="size">
                                <span class="">
                                    5,500
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>