<div class="sport-wrapper common-heading">
    <div class="events">
        <h1 class="">Cricket nilesh
            <span class="starts-in-label">Betting from 30mins before start</span>
        </h1>
        <div class="events-rows">
            <table class="market-listing-table apl-table">
                <thead>
                    <tr>
                        <th class="title">Match</th>
                        <th class="col-first-player _align-center" colspan="2">1</th>
                        <th class="col-first-player _align-center" colspan="2">x</th>
                        <th class="col-second-player _align-center" colspan="2">2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <i class="far fa-star apl-icon-star-o"></i>
                            <a class="event-name" href="">Kings XI Punjab v Mumbai Indians</a>
                            <small class="">
                                <time timestamp="event.start" type="gmtDateTime" class="">04/05/2018 20:00</time>
                            </small>
                            <small class="in-play-content ng-binding ng-scope">
                                <i class="fas fa-play-circle"></i>In-Play
                            </small>
                        </td>
                        <td class="back betting-disabled" side="back">
                            <strong class="odds ">
                                2.00
                            </strong>
                            <div class="size">
                                <span class="">
                                    27,282
                                </span>
                            </div>
                        </td>
                        <td class="lay betting-disabled" side="lay">
                            <strong class="odds ">
                                2.02
                            </strong>
                            <div class="size">
                                <span class="">
                                    17,817
                                </span>
                            </div>
                        </td>
                        <td class="back betting-disabled" side="back">
                            <strong class="odds ">
                                1.99
                            </strong>
                            <div class="size">
                                <span class="">
                                    6,535
                                </span>
                            </div>
                        </td>
                        <td class="lay betting-disabled" side="lay">
                            <strong class="odds ">
                                2.00
                            </strong>
                            <div class="size">
                                <span class="">
                                    27,282
                                </span>
                            </div>
                        </td>
                        <td class="back betting-disabled" side="back">
                            <strong class="odds ">
                                1.99
                            </strong>
                            <div class="size">
                                <span class="">
                                    6,535
                                </span>
                            </div>
                        </td>
                        <td class="lay betting-disabled" side="lay">
                            <strong class="odds ">
                                2.00
                            </strong>
                            <div class="size">
                                <span class="">
                                    27,282
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>