<div class="sport-wrapper common-heading">
    <div class="events">
        <h1>Cricket
            <!-- <span class="starts-in-label">Betting from 30mins before start</span> -->
        </h1>
        <div class="events-rows">
            <table class="market-listing-table apl-table">
                <thead>
                    <tr>
                        <th class="title">Match</th>
                        <th class="col-first-player _align-center" colspan="2">1</th>
                        <th class="col-first-player _align-center" colspan="2">x</th>
                        <th class="col-second-player _align-center" colspan="2">2</th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="market in marketData">
                        <td ng-click="getDetailedPage(market);">
                            <i class="far fa-star icon-style"></i>
                            <a class="event-name ">{{market.eventName}}</a>
                            <!-- <small class="in-play-content ">
                                <i class="fas fa-play-circle"></i> In-Play
                            </small> -->
                        </td>
                        <td class="back" ng-click="placeBet(market.runners[0].ex.availableToBack[0].price,'BACK',market,market.runners[0])">
                            <strong class="odds">
                                {{market.runners[0].ex.availableToBack[0].price}}
                            </strong>
                            <div class="size">
                                <span>
                                    {{market.runners[0].ex.availableToBack[0].size}}
                                </span>
                            </div>
                        </td>
                        <td class="lay" ng-click="placeBet(market.runners[0].ex.availableToLay[0].price,'LAY',market,market.runners[0])">
                            <strong class="odds ">
                                {{market.runners[0].ex.availableToLay[0].price}}
                            </strong>
                            <div class="size">
                                <span>
                                    {{market.runners[0].ex.availableToLay[0].size}}
                                </span>
                            </div>
                        </td>
                        <td class="back" ng-click="placeBet(market.runners[2].ex.availableToBack[0].price,'BACK',market,market.runners[2])">
                            <strong class="odds ">
                                {{market.runners[2].ex.availableToBack[0].price}}
                            </strong>
                            <div class="size">
                                <span>
                                    {{market.runners[2].ex.availableToBack[0].size}}
                                </span>
                            </div>
                        </td>
                        <td class="lay" ng-click="placeBet(market.runners[2].ex.availableToLay[0].price,'LAY',market,market.runners[2])">
                            <strong class="odds ">
                                {{market.runners[2].ex.availableToLay[0].price}}
                            </strong>
                            <div class="size">
                                <span>
                                    {{market.runners[2].ex.availableToLay[0].size}}
                                </span>
                            </div>
                        </td>
                        <td class="back" ng-click="placeBet(market.runners[1].ex.availableToBack[0].price,'BACK',market,market.runners[1])">
                            <strong class="odds ">
                                {{market.runners[1].ex.availableToBack[0].price}}
                            </strong>
                            <div class="size">
                                <span>
                                    {{market.runners[1].ex.availableToBack[0].size}}
                                </span>
                            </div>
                        </td>
                        <td class="lay" ng-click="placeBet(market.runners[1].ex.availableToLay[0].price,'LAY',market,market.runners[1])">
                            <strong class="odds ">
                                {{market.runners[1].ex.availableToLay[0].price}}
                            </strong>
                            <div class="size">
                                <span>
                                    {{market.runners[1].ex.availableToLay[0].size}}
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>