<footer ng-controller="footerCtrl">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p>Rules Regulation &copy; {{template.year}}.</p>
            </div>
            <!-- <div class="col-sm-6">
                <button>Revoke Access</button>
            </div> -->
            <div class="col-sm-6">
                <div class="text-right">
                    <a ng-click="revokeAccess();" class="btn btn-default revoke-access">
                        <span>Revoke Access</span>
                    </a>
                    <a href="http://www.betfair.com/www/GBR/en/aboutUs/Betfair.Charges/" class="btn btn-default revoke-access" target="_blank">Bet Charges.</a>
                </div>
            </div>
        </div>
    </div>
</footer>