<header class="header">
    <div class="boxed-layout-wrapper">
        <div class="logo-area">
            <div class="logo" ui-sref="home"></div>
        </div>
        <div class="clock ">
            <ul class="linkbar navbar">
                <li>
                    <time timestamp="timestamp" type="simpleDate" class=" ng-isolate-scope">May 3, 2018</time>
                </li>
                <li>
                    <time timestamp="timestamp" type="time" class="time  ng-isolate-scope">12:59:42</time>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <span translate="" class="">(+05:30)</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">System time - (GMT +00:00)</a>
                        <a class="dropdown-item" href="#">Your computer time - (GMT +05:30)</a>
                        <a class="dropdown-item" href="#">India Standard time - (GMT +05:30)</a>

                    </div>
                </li>
            </ul>
        </div>
        <div class="infobar">
            <ul class="linkbar navbar">
                <li class="search-container">
                    <nav class="">
                        <form class="form-inline">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" placeholder="Search Events" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </form>
                    </nav>
                    <!-- <div class="apl-form search">
                        <div class="placeholder-wrapper ng-isolate-scope animatable" ng-class="{'activated': isActive, 'animatable': isAnimatable}">
                            <div class="placeholder ">Search Events</div>
                            <div ng-transclude="">
                                <div class="apl-form-icon ">
                                    <i class="apl-icon-search" aria-hidden="true"></i>

                                    <input type="text" class="apl-form-large -qa-search-bar" apl-placeholder="Search Events" ng-model="searchText.name" ng-keyup="keyup($event)"
                                        analytics-category="'Header'" analytics-event="'Click'" analytics-label="'Search Bar'">
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <ul ng-show="searchText.name.length > 2 &amp;&amp; isSearchDropdownVisible" class="-qa-search-results ng-hide">
                        <!-- ngIf: searchResult.length === 0 -->
                        <li ng-if="searchResult.length === 0" class="-qa-item-name search-link ">
                            <p class="">No events found matching ''</p>
                        </li>

                    </ul>
                </li>
                <li>
                    <p class="">Logged in as hk0002</p>
                    <p class="last-login ">Last logged in:
                        <time timestamp="userData.user.lastLoginTime" type="dateSimpleTime" class=" ng-isolate-scope">03/05/2018 12:19</time>
                    </p>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fas fa-cog"></i>
                        <span translate="" class="">Account</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" ui-sref="mybet">My Bets</a>
                        <a class="dropdown-item" ui-sref="profit-loss">Betting Profit and Loss</a>
                        <a class="dropdown-item" ui-sref="account-statement">Account Statement</a>
                        <a class="dropdown-item" ui-sref="transfer-statement">Transfer Statement</a>
                        <a class="dropdown-item" ui-sref="change-password">Change Password</a>
                    </div>
                </li>
                <!-- <li class="-qa-setting-dropdown">
                    <div class="wrap-dd-menu " ng-class="{'disabled': dropdownDisabled}">
                        <a href="" analytics-on="" analytics-event="Open Dropdown" analytics-category="Account" dropdown-menu="ddMenuOptions" dropdown-model="ddMenuSelected"
                            class="ng-isolate-scope">
                            <i class="fas fa-cog"></i>
                            <span translate="" class="">Account</span>
                        </a>
                        <ul class="dropdown ">
                            <li ng-class="{divider: dropdownMenuItem.divider, 'divider-label': dropdownMenuItem.divider &amp;&amp; dropdownMenuItem[dropdownItemLabel]}"
                                ng-repeat="item in dropdownMenu" class="dropdown-item  ng-isolate-scope" dropdown-item-label="labelField"
                                dropdown-menu-item="item">

                                <a href="#orderList" class="dropdown-item  " ng-if="!dropdownMenuItem.divider" ng-href="#orderList" ng-click="selectItem()">My Bets</a>
                            </li>
                            <li ng-class="{divider: dropdownMenuItem.divider, 'divider-label': dropdownMenuItem.divider &amp;&amp; dropdownMenuItem[dropdownItemLabel]}"
                                ng-repeat="item in dropdownMenu" class="dropdown-item  ng-isolate-scope" dropdown-item-label="labelField"
                                dropdown-menu-item="item">

                                <a href="#betProfitLoss" class="dropdown-item  " ng-if="!dropdownMenuItem.divider" ng-href="#betProfitLoss"
                                    ng-click="selectItem()">Betting Profit and Loss</a>
                            </li>
                            <li ng-class="{divider: dropdownMenuItem.divider, 'divider-label': dropdownMenuItem.divider &amp;&amp; dropdownMenuItem[dropdownItemLabel]}"
                                ng-repeat="item in dropdownMenu" class="dropdown-item  ng-isolate-scope" dropdown-item-label="labelField"
                                dropdown-menu-item="item">

                                <a href="#accountStatement" class="dropdown-item  " ng-if="!dropdownMenuItem.divider" ng-href="#accountStatement"
                                    ng-click="selectItem()">Account Statement</a>
                            </li>
                            <li ng-class="{divider: dropdownMenuItem.divider, 'divider-label': dropdownMenuItem.divider &amp;&amp; dropdownMenuItem[dropdownItemLabel]}"
                                ng-repeat="item in dropdownMenu" class="dropdown-item  ng-isolate-scope" dropdown-item-label="labelField"
                                dropdown-menu-item="item">

                                <a href="#transferStatement" class="dropdown-item  " ng-if="!dropdownMenuItem.divider" ng-href="#transferStatement"
                                    ng-click="selectItem()">Transfer Statement</a>
                            </li>
                            <li ng-class="{divider: dropdownMenuItem.divider, 'divider-label': dropdownMenuItem.divider &amp;&amp; dropdownMenuItem[dropdownItemLabel]}"
                                ng-repeat="item in dropdownMenu" class="dropdown-item  ng-isolate-scope" dropdown-item-label="labelField"
                                dropdown-menu-item="item">
                                <a href="#changePassword" class="dropdown-item  " ng-if="!dropdownMenuItem.divider" ng-href="#changePassword"
                                    ng-click="selectItem()">Change Password</a>
                            </li>
                        </ul>
                    </div>
                </li> -->
                <li>
                    <a href="" class="qa-logout" ng-click="logout()">
                        <i class="fas fa-sign-out-alt"></i>
                        <span translate="" class="">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</header>