<header class="header" ng-controller="headerCtrl">

    <div class="boxed-layout-wrapper">

        <div class="logo-area">
            <div class="logo" ui-sref="home" href="#!/home">
                <img src="img/lg.png" class="logo-img"> Kings Bet
            </div>
        </div>
        <div class="menu-options">
            <span class="menu-action">
                <i></i>
            </span>
        </div>
        <div class="clock navbar">
            <time timestamp="timestamp" type="simpleDate" class="ng-binding ng-isolate-scope"> {{clock | date:
                'MMMM dd,yyyy'}}</time>
            <time timestamp="timestamp" type="time" class="time ng-binding ng-isolate-scope">
                {{clock | date :'HH:mm:ss'}}
            </time>
            <div class="search-container ml-14">
                <div class="apl-form search">
                    <div class="placeholder-wrapper ng-isolate-scope animatable">
                        <div>
                            <div class="apl-form-icon ">
                                <i class="fas fa-search apl-icon-search"></i>
                                <input type="text" class="apl-form-large -qa-search-bar" placeholder="Search Events">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="clock clock-bg navbar">
            <time timestamp="timestamp" type="simpleDate" class=" ng-isolate-scope">May 10, 2018</time>
            <time timestamp="timestamp" type="time" class="time  ng-isolate-scope">18:12:57</time>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <span class="">(+05:30)</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">System time - (GMT +00:00)</a>
                    <a class="dropdown-item" href="#">Your computer time - (GMT +05:30)</a>
                    <a class="dropdown-item" href="#">India Standard time - (GMT +05:30)</a>
                </div>
            </div>
        </div> -->

        <div class="infobar">
            <ul class="linkbar navbar">
                <!-- <li class="search-container">
                    <div class="apl-form search">
                        <div class="placeholder-wrapper ng-isolate-scope animatable">
                            <div class="placeholder ">Search Events</div>
                            <div>
                                <div class="apl-form-icon ">
                                    <i class="fas fa-search apl-icon-search"></i>
                                    <input type="text" class="apl-form-large -qa-search-bar ng-pristine ng-untouched ng-valid ng-empty" apl-placeholder="Search Events">
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul ng-show="searchText.name.length > 2 &amp;&amp; isSearchDropdownVisible" class="-qa-search-results ng-hide">
                        <li ng-if="searchResult.length === 0" class="-qa-item-name search-link ">
                            <p class="">No events found matching ''</p>
                        </li>
                    </ul>
                </li> -->
                <li>
                    <p class="text-left">Logged in as {{userInfo.username}}</p>
                    <p class="last-login text-right">Last logged in:
                        <time timestamp="userData.user.lastLoginTime" type="dateSimpleTime" class=" ng-isolate-scope">
                            {{userInfo.loggedInTime | date:'dd/MM/yyyy hh:mm'}}</time>
                    </p>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle account-btn" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cog"></i>
                        <span class="">Account</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" ui-sref="mybet">My Bets</a>
                        <a class="dropdown-item" ui-sref="profit-loss">Betting Profit and Loss</a>
                        <a class="dropdown-item" ui-sref="account-statement">Account Statement</a>
                        <a class="dropdown-item" ui-sref="transfer-statement">Transfer Statement</a>
                        <a class="dropdown-item" ui-sref="change-password">Change Password</a>
                    </div>
                </li>
                <li>
                    <a href="" class="qa-logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <span class="" ng-click="logout()">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>