<div class="row">
    <div class="col-sm-12">
        <div class="">
            <div class="avilable-credit">
                <uib-accordion close-others="oneAtATime">
                    <div uib-accordion-group class="panel-default" is-open="status.open">
                        <uib-accordion-heading>
                            I can have markup, too! <i class="pull-right icon-right fa" ng-class="{'fa-chevron-up': status.open, 'fa-chevron-down': !status.open}"></i>
                        </uib-accordion-heading>
                        This is just some content to illustrate fancy headings.
                    </div>
                </uib-accordion>
            </div>
            <div>
                <div class="inner-right-pane">
                    <div class="user-settings">
                        <div class="one-click-bet-settings-wrapper">
                            <div class="one-click-bet-settings _clearfix select-mode-on one-click-active">
                                <div class="small one-click-switch ng-isolate-scope">
                                    <div class="toggle-bg toggle-alternate on">
                                        <label class="on">on</label>
                                        <input type="radio" name="toggle" value="false">
                                        <input type="radio" name="toggle" value="true">
                                        <span class="switch on"></span>
                                    </div>
                                </div>
                                <div class="one-click-settings-animation-wrap">
                                    <strong class="one-click-title ng-scope" translate="">1 Click Betting</strong>
                                    <div class="apl-form one-click-bet-form">
                                        <div class="select-mode-fields">
                                            <ul class="settings-list">
                                                <li class="setting-select-only">
                                                    <button type="button" class="apl-btn">25</button>
                                                </li>
                                                <li class="setting-select-only">
                                                    <button type="button" class="apl-btn ">50</button>
                                                </li>
                                                <li class="setting-select-only">
                                                    <button type="button" class="apl-btn ">100</button>
                                                </li>
                                            </ul>
                                            <button class="apl-btn apl-btn-primary apl-btn-small btn-one-click-edit _pull-right">Edit</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bet-manager ng-isolate-scope ">
                        <h4 class="ng-binding">Betslip</h4>
                        <uib-tabset active="activePill" vertical="true" type="pills">
                            <uib-tab index="0" heading="Betslip">
                                <p class="betslip-content">Click on the odds to add selections to the betslip.</p>
                            </uib-tab>
                            <uib-tab index="1" heading="Open Bets">
                                <div class="bets-by-event-filter ng-scope">
                                    <label class="ng-binding">
                                       <input type="checkbox"  class="ng-pristine">Show bet Info
                                     </label>
                                </div>
                                <div class="matchbets">
                                    <uib-accordion close-others="oneAtATime">
                                        <div class="text-center" uib-accordion-group class="panel-default" is-open="status.open">
                                            <uib-accordion-heading>
                                                Unmatched Bets <i class="pull-right icon-right fa" ng-class="{'fa-chevron-up': status.open, 'fa-chevron-down': !status.open}"></i>
                                            </uib-accordion-heading>
                                            You have no unmatched bets
                                        </div>
                                    </uib-accordion>
                                </div>
                                <div class="matchbets mt-3">
                                    <uib-accordion close-others="oneAtATime">
                                        <div uib-accordion-group class="panel-default" is-open="status.open">
                                            <uib-accordion-heading>
                                                Matched Bets <i class="pull-right icon-right fa" ng-class="{'fa-chevron-up': status.open, 'fa-chevron-down': !status.open}"></i>
                                            </uib-accordion-heading>
                                            <div class="consolidation-filter">
                                                <label class="ng-binding"><input type="checkbox"  class="ng-pristine">Consolidate</label>
                                                <label class="pad-left ng-binding"><input type="checkbox"   class="ng-pristine">Average Odds</label>
                                                <label class="pad-left ng-binding"><input type="checkbox"  class="ng-pristine ">Order By Date</label>
                                            </div>
                                            <div>
                                                <div class="matched-order">
                                                    <a ng-href="#/display/EVENT/4/28706813" class="event-name" href="#/display/EVENT/4/28706813">
                                                      <span date-string="vm.order.name" timestamp="vm.order.marketTime" 
                                                      class="ng-binding ng-isolate-scope">Kings XI Punjab v Mumbai Indians</span>
                                                      </a>
                                                    <ul>
                                                        <li class="ng-scope">
                                                            <ul>
                                                                <li>
                                                                    <ul class="selection">
                                                                        <div class="selection-header">
                                                                            <div class="selection-name ng-binding ng-scope">Kings XI Punjab</div>
                                                                            <div class="bet-header grouped" ng-class="{'grouped': vm.isSelectionNameGrouped()}">
                                                                                <span class="market-name ng-binding">Match Odds</span>
                                                                                <span class="odds ng-scope" translate="">Odds</span>
                                                                                <span translate="" class="ng-scope">Stake</span>
                                                                                <span translate="" class="ng-scope">Profit/Liability</span>
                                                                            </div>
                                                                        </div>
                                                                        <!-- ngRepeat: bet in vm.selection -->
                                                                        <li class="ng-scope">
                                                                            <div class="selection-bet back no-info" ng-class="{'back' : bet.side === 'Back', 'lay' : bet.side === 'Lay', 'no-info' : !vm.showRefInfo()}">
                                                                                <div class="bet-fields grouped" ng-class="{'grouped': vm.isSelectionNameGrouped()}">
                                                                                    <!-- ngIf: !vm.isSelectionNameGrouped() -->
                                                                                    <span class="odds ng-binding">2.000</span>
                                                                                    <span class="ng-binding">25.00</span>
                                                                                    <span ng-init="vm.calculatePL(bet)" class="ng-binding">25.00</span>
                                                                                </div>
                                                                                <!-- ngIf: vm.showRefInfo() -->
                                                                            </div>
                                                                        </li>
                                                                        <!-- end ngRepeat: bet in vm.selection -->
                                                                        <li ng-repeat="bet in vm.selection" class="ng-scope">
                                                                            <div class="selection-bet lay no-info" ng-class="{'back' : bet.side === 'Back', 'lay' : bet.side === 'Lay', 'no-info' : !vm.showRefInfo()}">
                                                                                <div class="bet-fields grouped" ng-class="{'grouped': vm.isSelectionNameGrouped()}">
                                                                                    <!-- ngIf: !vm.isSelectionNameGrouped() -->
                                                                                    <span class="odds ng-binding">2.000</span>
                                                                                    <span class="ng-binding">25.00</span>
                                                                                    <span ng-init="vm.calculatePL(bet)" class="ng-binding">25.00</span>
                                                                                </div>
                                                                                <!-- ngIf: vm.showRefInfo() -->
                                                                            </div>
                                                                        </li>
                                                                        <!-- end ngRepeat: bet in vm.selection -->
                                                                        <li ng-repeat="bet in vm.selection" class="ng-scope">
                                                                            <div class="selection-bet back no-info" ng-class="{'back' : bet.side === 'Back', 'lay' : bet.side === 'Lay', 'no-info' : !vm.showRefInfo()}">
                                                                                <div class="bet-fields grouped" ng-class="{'grouped': vm.isSelectionNameGrouped()}">
                                                                                    <!-- ngIf: !vm.isSelectionNameGrouped() -->
                                                                                    <span class="odds ng-binding">1.990</span>
                                                                                    <span class="ng-binding">25.00</span>
                                                                                    <span ng-init="vm.calculatePL(bet)" class="ng-binding">24.75</span>
                                                                                </div>
                                                                                <!-- ngIf: vm.showRefInfo() -->
                                                                            </div>
                                                                        </li>
                                                                        <!-- end ngRepeat: bet in vm.selection -->
                                                                    </ul>

                                                                    <!-- end ngIf: !vm.isSessionRuns(market) -->
                                                                    <!-- ngIf: vm.isSessionRuns(market) -->
                                                                </li>
                                                                <!-- end ngRepeat: selection in market.preparedBets -->
                                                            </ul>
                                                        </li>
                                                        <!-- end ngRepeat: market in vm.order.markets -->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </uib-accordion>
                                </div>
                            </uib-tab>
                        </uib-tabset>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>