<div ng-controller="headerCtrl">
    <div class=" left-pane opened-menu">
        <aside class="menu  opened-menu">
            <nav class="tree-menu">
                <div class="left-menu-inner current-lvl-0">

                    <!-- Ul for previous menu -->
                    <ul class="menu-column menu-lvl-1 sport-type-Cricket  previous-button" ng-if="previous">
                        <li>
                            <a ui-sref="favourites" class="favourites-link ">
                                <i class="far fa-star icon-style"></i>
                                <span class="link-name">Favourites</span>
                            </a>
                        </li>
                        <li ng-click="goTohome()">
                            <a class="home-link">
                                <i class="fas fa-home"></i>
                                <span class="link-name">Sports</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a class="link-lvl-sport">
                               <img src="img/icons/{{game}}.svg" class="img-fluid game-icon">
                                <span class="link-name">{{game}}</span>
                            </a>
                        </li>
                        <li ng-click="getPreviousCategory()">
                            <a class="link-lvl-prev">
                                <i class="fas fa-chevron-circle-left"></i>
                                <span class="link-name">Previous</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a class="menu-link sport-type-Cricket " ng-repeat="category in subcategory" ng-click="getParentId(category._id);getSubCategory(category.children)">
                                <i class="fas fa-chevron-circle-left"></i>
                                <span class="link-name cat-name">{{category.name}}</span>
                                <i class="fas fa-chevron-right cat-name"></i>
                            </a>
                        </li>
                    </ul>

                    <!-- Main side menu -->
                    <ul class="menu-column menu-lvl-0 sport-type" ng-if="home">
                        <li>
                            <a class=" favourites-link" ui-sref="favourites">
                                <i class="favourites-icon far fa-star"></i>
                                <span class="link-name ">Favourites</span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="my-markets" class="favourites-link ">
                                <i class="favourites-icon far fa-star"></i>
                                <span class="link-name">My Markets</span>
                            </a>
                        </li>
                        <li ng-repeat="game in gameData">
                            <a class="menu-link sport-type-Cricket" ng-click="getGameName(game.name);getSubCategory(game.children)">
                                <span class="link-name ">
                                    <img src="img/icons/{{game.name}}.svg" class="img-fluid game-icon">
                                    <span class="px-2">{{game.name}}</span>
                                </span>
                                <!-- <span class="pull-right">
                                        <i class="far fa-star icon-style "></i>
                                </span> -->
                            </a>
                        </li>
                    </ul>


                    <!-- Ul for next menu -->
                    <ul class="menu-column menu-lvl-1 sport-type-Cricket previous-button " ng-if="next">
                        <li>
                            <a ui-sref="favourites " class="favourites-link ">
                                <i class="far fa-star icon-style "></i>
                                <span class="link-name ">Favourites</span>
                            </a>
                        </li>
                        <li ng-click="goTohome() ">
                            <a class="home-link ">
                                <i class="fas fa-home "></i>
                                <span class="link-name ">Sports</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a class="link-lvl-sport">
                               <img src="img/icons/{{game}}.svg" class="img-fluid game-icon">
                                <span class="link-name ">{{game}}</span>
                            </a>
                        </li>
                        <li ng-click="getPreviousCategory() ">
                            <a class="link-lvl-prev ">
                                <i class="fas fa-chevron-circle-left "></i>
                                <span class="link-name ">Previous</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a class="menu-link sport-type-Cricket" ng-repeat="category in subcategory" ng-click="getParentId(category._id);getSubCategory(category.children)">
                                <!-- <span>
                                    <i class="fas fa-chevron-circle-left"></i>
                                </span> -->
                                <span class="link-name cat-name">{{category.name}}</span>
                                <span>
                                    <i class="fas fa-chevron-right cat-name"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <!-- <ul class="menu-column menu-lvl-1 sport-type-Cricket previous-button " ng-if="currentUrl=='common-inner' ">
                    <li>
                        <a ui-sref="favourites " class="favourites-link ">
                            <i class="far fa-star icon-style "></i>
                            <span class="link-name ">Favourites</span>
                        </a>
                    </li>
                    <li ng-click="goback() ">
                        <a class="home-link ">
                            <i class="fas fa-home "></i>
                            <span class="link-name ">Sports</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a class="link-lvl-sport " href="#/display/EVENT_TYPE/4 ">
                            <i class="fas fa-baseball-ball "></i>
                            <span class="link-name ">{{submenu[currentgame].name}}</span>
                        </a>
                    </li>
                    <li ng-click="goback() ">
                        <a class="link-lvl-prev " ng-href="#/display/ROOT/0 " href="#/display/ROOT/0 ">
                            <i class="fas fa-chevron-circle-left "></i>
                            <span class="link-name ">Previous</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a class="menu-link sport-type-Cricket " ng-repeat="t in submenu[currentgame].tournament[gameId].matches
                            track by $index ">
                            <i class="sport-icon apl-icon-sport-cricket "></i>
                            <span class="link-name ">{{t.name}}</span>
                            <i class="fas fa-chevron-right "></i>
                        </a>
                    </li>
                </ul> -->
                </div>
            </nav>
        </aside>
    </div>
</div>