<div class="left-pane" ng-controller="headerCtrl">
    <aside class="menu">
        <nav class="tree-menu">
            <div class="left-menu-inner current-lvl-0">

                <!-- Ul for previous menu -->
                <ul class="menu-column menu-lvl-1 sport-type-Cricket  previous-button" ng-if="previous">
                    <!-- <li>
                        <a ui-sref="favourites" class="favourites-link ">
                            <i class="far fa-star icon-style"></i>
                            <span class="link-name">Favourites</span>
                        </a>
                    </li> -->
                    <li ng-click="goTohome()">
                        <a class="home-link">
                            <i class="fas fa-home"></i>
                            <span class="link-name">Sports</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a class="link-lvl-sport">
                            <i class="fas fa-baseball-ball"></i>
                            <span class="link-name">{{game}}</span>
                        </a>
                    </li>
                    <li ng-click="getPreviousCategory()">
                        <a class="link-lvl-prev">
                            <i class="fas fa-chevron-circle-left"></i>
                            <span class="link-name">Previous</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a class="menu-link sport-type-Cricket " ng-repeat="category in subcategory" ng-click="getParentId(category._id);getSubCategory(category.children)">
                            <i class="sport-icon apl-icon-sport-cricket"></i>
                            <span class="link-name">{{category.name}}</span>
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </li>
                </ul>

                <!-- Ul for next menu -->
                <ul class="menu-column menu-lvl-1 sport-type-Cricket previous-button " ng-if="next">
                    <!-- <li>
                        <a ui-sref="favourites " class="favourites-link ">
                            <i class="far fa-star icon-style "></i>
                            <span class="link-name ">Favourites</span>
                        </a>
                    </li> -->
                    <!-- <li ng-click="goTohome() ">
                        <a class="home-link ">
                            <i class="fas fa-home "></i>
                            <span class="link-name ">Sports</span>
                        </a>
                    </li> -->
                    <li class=" ">
                        <a class="link-lvl-sport" ng-click="getCompetition()">
                            <i class="fas fa-baseball-ball "></i>
                            <span class="link-name ">Cricket</span>
                        </a>
                    </li>
                    <!-- <li ng-click="getPreviousCategory() ">
                        <a class="link-lvl-prev ">
                            <i class="fas fa-chevron-circle-left "></i>
                            <span class="link-name ">Previous</span>
                        </a>
                    </li> -->
                    <li class=" ">
                        <a class="menu-link sport-type-Cricket" ng-if="category.competition" ng-repeat="category in gameData" ng-click="getSubCategory(category.competition.id,'competition')">
                            <i class="sport-icon apl-icon-sport-cricket "></i>
                            <span class="link-name ">{{category.competition.name}}</span>
                            <i class="fas fa-chevron-right "></i>
                        </a>
                        <a class="menu-link sport-type-Cricket" ng-if="category.event" ng-repeat="category in gameData" ng-click="getSubCategory(category.event.id,'event')">
                            <i class="sport-icon apl-icon-sport-cricket "></i>
                            <span class="link-name ">{{category.event.name}}</span>
                            <i class="fas fa-chevron-right "></i>
                        </a>
                    </li>
                </ul>
                <!-- <ul class="menu-column menu-lvl-1 sport-type-Cricket previous-button " ng-if="currentUrl=='common-inner' ">
                    <li>
                        <a ui-sref="favourites " class="favourites-link ">
                            <i class="far fa-star icon-style "></i>
                            <span class="link-name ">Favourites</span>
                        </a>
                    </li>
                    <li ng-click="goback() ">
                        <a class="home-link ">
                            <i class="fas fa-home "></i>
                            <span class="link-name ">Sports</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a class="link-lvl-sport " href="#/display/EVENT_TYPE/4 ">
                            <i class="fas fa-baseball-ball "></i>
                            <span class="link-name ">{{submenu[currentgame].name}}</span>
                        </a>
                    </li>
                    <li ng-click="goback() ">
                        <a class="link-lvl-prev " ng-href="#/display/ROOT/0 " href="#/display/ROOT/0 ">
                            <i class="fas fa-chevron-circle-left "></i>
                            <span class="link-name ">Previous</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a class="menu-link sport-type-Cricket " ng-repeat="t in submenu[currentgame].tournament[gameId].matches
                            track by $index ">
                            <i class="sport-icon apl-icon-sport-cricket "></i>
                            <span class="link-name ">{{t.name}}</span>
                            <i class="fas fa-chevron-right "></i>
                        </a>
                    </li>
                </ul> -->
            </div>
        </nav>
    </aside>
</div>