<div class="left-pane" ng-controller="headerCtrl">
    <aside class="menu">
        <nav class="tree-menu">
            <div class="left-menu-inner  current-lvl-0">
                <ul class="menu-column menu-lvl-0 sport-type" ng-if="currentUrl=='home' || !currentUrl">
                    <li>
                        <a class=" favourites-link" ui-sref="favourites">
                            <i class="favourites-icon fa fa-star "></i>
                            <span class="link-name ">Favourites</span>
                        </a>
                    </li>
                    <li ui-sref="cricket">
                        <a class="menu-link sport-type-Cricket ">
                            <i class="sport-icon fa fa-star "></i>
                            <span class="link-name ">Cricket</span>
                        </a>
                    </li>
                    <li class="" ui-sref="football">
                        <a class="menu-link sport-type-Football ">
                            <i class=" sport-icon fa fa-futbol "></i>
                            <span class="link-name ng-binding  ">Football</span>
                        </a>
                    </li>
                    <li class=" " ui-sref="tennis">
                        <a class="menu-link sport-type-Tennis ">
                            <i class="sport-icon fa fa-life-ring "></i>
                            <span class="link-name ng-binding  ">Tennis</span>
                        </a>
                    </li>
                    <li class=" " ui-sref="horse-racing">
                        <a class="menu-link sport-type-Horse-Racing ">
                            <i class="sport-icon fa fa-life-ring "></i>
                            <span class="link-name ">Horse Racing</span>
                        </a>
                    </li>
                    <li class=" " ui-sref="greyhound-racing">
                        <a class="menu-link sport-type-Greyhound-Racing ">
                            <i class="sport-icon fa fa-life-ring "></i>
                            <span class="link-name ">Greyhound Racing</span>
                        </a>
                    </li>
                </ul>
                <ul class="menu-column menu-lvl-1 sport-type-Cricket " ng-if="currentUrl=='cricket' ">
                    <li>
                        <a ng-click="goback()" class="favourites-link ">
                            <i class="favourites-icon apl-icon-star-o "></i>
                            <span class="link-name  ">Favourites</span>
                        </a>
                    </li>
                    <li ng-click="goback()">
                        <a class="home-link ">
                            <i class="fas fa-home"></i>
                            <span class="link-name  ">Sports</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a class="link-lvl-sport ng-binding " href="#/display/EVENT_TYPE/4 ">
                            <i class="fas fa-baseball-ball"></i>
                            Cricket
                        </a>
                    </li>
                    <li ng-click="goback()" class=" ">
                        <a class="link-lvl-prev ng-binding " ng-href="#/display/ROOT/0 " href="#/display/ROOT/0 ">
                            <i class="fas fa-chevron-circle-left"></i>Previous
                        </a>
                    </li>
                    <li ng-repeat="node in menuLvlCurrent.children " class=" ">
                        <a class="menu-link sport-type-Cricket " ng-class="{ selected: node.type==='RACE' &amp;&amp; selectedMenuId===n
                    ode.id } " ng-href="#/display/GROUP/4/27918802.1 " href="#/display/GROUP/4/27918802.1 ">

                            <i class="sport-icon apl-icon-sport-cricket "></i>
                            <span ng-if="node.type !=='RACE' " class="link-name ng-binding  ">IPL</span>
                            <i class="indicator-icon apl-icon-chevron-right "></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </aside>
</div>