<div class="sport-wrapper">
    <div class="events common-heading">
        <h1 class="header">English Football
        </h1>
        <div class="events-rows ng-isolate-scope">
            <table class="market-listing-table apl-table -qa-odds-test">
                <thead>
                    <tr>
                        <th class="title ">Match</th>
                        <th class="col-first-player _align-center" colspan="2">1</th>
                        <th class="player-draw _align-center" colspan="2">X</th>
                        <th class="col-second-player _align-center" colspan="2">2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td>
                            <i class="far fa-star icon-style"></i>
                            <a class="event-name ">Swansea v Southampton</a>
                            <small class="">
                                <time timestamp="event.start" type="gmtDateTime" class=" ng-isolate-scope">09/05/2018 00:15</time>
                            </small>
                        </td>
                        <td class="back">
                            3.30
                            </strong>
                            <div class="size">
                                <span class="">
                                    39,907
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            3.40
                            </strong>
                            <div class="size">
                                <span class="">
                                    76,284
                                </span>
                            </div>
                        </td>
                        <td class="back">
                            3.40
                            </strong>
                            <div class="size">
                                <span class="">
                                    192,146
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            3.45
                            </strong>
                            <div class="size">
                                <span class="">
                                    147,948
                                </span>
                            </div>
                        </td>
                        <td class="back">
                            2.44
                            </strong>
                            <div class="size">
                                <span class="">
                                    12,722
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            2.46
                            </strong>
                            <div class="size">
                                <span class="">
                                    10,781
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <i class="far fa-star icon-style"></i>
                            <a class="event-name ">Tottenham v Newcastle</a>
                            <small class="">
                                <time timestamp="event.start" type="gmtDateTime" class=" ng-isolate-scope">10/05/2018 00:30</time>
                            </small>
                        </td>
                        <td class="back">
                            1.20
                            </strong>
                            <div class="size">
                                <span class="">
                                    500,000+
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            1.21
                            </strong>
                            <div class="size">
                                <span class="">
                                    28,315
                                </span>
                            </div>
                        </td>
                        <td class="back">
                            8.40
                            </strong>
                            <div class="size">
                                <span class="">
                                    690
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            8.80
                            </strong>
                            <div class="size">
                                <span class="">
                                    4,553
                                </span>
                            </div>
                        </td>
                        <td class="back">
                            18.5
                            </strong>
                            <div class="size">
                                <span class="">
                                    1,028
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            19.0
                            </strong>
                            <div class="size">
                                <span class="">
                                    920
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <i class="far fa-star icon-style"></i>
                            <a class="event-name ">Man City v Brighton</a>
                            <small class="">
                                <time timestamp="event.start" type="gmtDateTime" class=" ng-isolate-scope">10/05/2018 00:30</time>
                            </small>
                        </td>
                        <td class="back">
                            1.14
                            </strong>
                            <div class="size">
                                <span class="">
                                    106,840
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            1.15
                            </strong>
                            <div class="size">
                                <span class="">
                                    270,087
                                </span>
                            </div>
                        </td>
                        <td class="back">
                            11.0
                            </strong>
                            <div class="size">
                                <span class="">
                                    5,960
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            11.5
                            </strong>
                            <div class="size">
                                <span class="">
                                    6,983
                                </span>
                            </div>
                        </td>
                        <td class="back">
                            27
                            </strong>
                            <div class="size">
                                <span class="">
                                    1,434
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            28
                            </strong>
                            <div class="size">
                                <span class="">
                                    3,023
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>