<div class="available-bal">
    <!-- <accountbalance></accountbalance> -->
    <div class="transfer-statement common-heading">
        <h1 class="">Transfer Statement</h1>
        <table class="listing apl-table">
            <thead>
                <tr>
                    <th class="">Date</th>
                    <th class="">Description</th>
                    <th class="transfer-amount ">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr class="">
                    <td colspan="3" class="transfer-date ">
                        <span>
                            <time timestamp="transfer.dateGroup" type="fullDate" class=" ng-isolate-scope">11/02/2018</time>
                        </span>
                    </td>
                </tr>
                <tr class="">
                    <td class="transfer-time ">
                        <span>
                            <time timestamp="transfer.date" type="time" class=" ng-isolate-scope">15:17:45</time>
                        </span>
                    </td>
                    <td class=" ">Transfer Out</td>
                    <td class="transfer-amount -negative" ng-class="{'-negative': transfer.amount < 0, '-positive': transfer.amount >= 0}">-29.00</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>