<div class="-full-size login-view">
    <div class="version">
        <ul class="list-style">
            <li>
                <label for="">Latest Version:</label> 1.00
            </li>
            <li>
                <label for="">Earlier Version:</label> --
            </li>
            <li>
                <label for="">Disabled Version:</label> --
            </li>
        </ul>

    </div>
    <div class="login-form">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <div class="logo"></div>
            </div>
            <div class="panel-body">
                <form class="apl-form ng-pristine ng-valid" name="loginForm" ng-submit="userLogin(credentials)">
                    <fieldset>
                        <a href="betfairLogin?returnUrl={{adminurl}}user/betfairLoginRedirect" name=" login " class="apl-btn apl-btn-secondary apl-btn-large btn-login ">Betfair Login</a>
                    </fieldset>
                </form>
                <!-- ngRepeat: errMsg in errorList -->
            </div>
        </div>
    </div>
</div>