<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9">
            <div>
                <div class="mr-4">
                    <div class="clearfix">
                        <div class="float-left account-title">
                            <h5> New zealand v England (2nd Test)</h5>
                        </div>
                    </div>
                </div>
                <div class="my-3">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th colspan="3">Match odds</th>
                                <th>Back</th>
                                <th>Lay</th>
                            </tr>
                            <tbody>
                                <tr>
                                    <th>New zealand
                                        <br>
                                        <span>25.00 * 40.00</span>
                                    </th>
                                    <td>3.14
                                        <br>
                                        <span>134</span>
                                    </td>
                                    <td>4.06
                                        <br>
                                        <span>579</span>
                                    </td>
                                    <td>7.09
                                        <br>
                                        <span>156</span>
                                    </td>
                                    <td>4.14
                                        <br>
                                        <span>093</span>
                                    </td>
                                    <td>0.04
                                        <br>
                                        <span>111</span>
                                    </td>
                                    <td>00.5
                                        <br>
                                        <span>112</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>England
                                        <br>
                                        <span>25.00 * 40.00</span>
                                    </th>
                                    <td>6.70
                                        <br>
                                        <span>764</span>
                                    </td>
                                    <td>9.10
                                        <br>
                                        <span>987</span>
                                    </td>
                                    <td>1.00
                                        <br>
                                        <span>0.07</span>
                                    </td>
                                    <td>5.05
                                        <br>
                                        <span>987</span>
                                    </td>
                                    <td>7.77
                                        <br>
                                        <span>234</span>
                                    </td>
                                    <td>8.09
                                        <br>
                                        <span>345</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>The Draw
                                        <br>
                                        <span>25.00 * 40.00</span>
                                    </th>
                                    <td>0.01
                                        <br>
                                        <span>098</span>
                                    </td>
                                    <td>6.06
                                        <br>
                                        <span>567</span>
                                    </td>
                                    <td>8.04
                                        <br>
                                        <span>789</span>
                                    </td>
                                    <td>7.07
                                        <br>
                                        <span>255</span>
                                    </td>
                                    <td>99.0
                                        <br>
                                        <span>253</span>
                                    </td>
                                    <td>0.39
                                        <br>
                                        <span>25.00</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="table-responsive">

                    <table class="table">
                        <tr>
                            <th colspan="3">Session Runs</th>
                            <th>No</th>
                            <th>Yes</th>
                        </tr>
                        <tbody>

                            <tr>
                                <th>NZ LAMBI</th>
                                <td>4354
                                </td>
                                <td>46546
                                </td>
                                <td>7.09
                                    <br>
                                    <span>156</span>
                                </td>
                                <td>4.14
                                    <br>
                                    <span>093</span>
                                </td>
                                <td>Max Bet: 1600
                                    <br> Max Mkt:8,000

                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive mt-3">

                    <table class="table">

                        <tbody>

                            <tr>
                                <th> 300 Run NZ </th>
                                <td>SUSPENDED
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive mt-3">

                    <table class="table">

                        <tbody>

                            <tr>
                                <th> 300 Run NZ </th>
                                <td>SUSPENDED
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive">

                    <table class="table">
                        <tr>
                            <th colspan="3"> Tied Match </th>
                            <th>Back</th>
                            <th>Lay</th>
                        </tr>
                        <tbody>

                            <tr>
                                <th>Yes

                                </th>
                                <td>3.14
                                    <br>
                                    <span>134</span>
                                </td>
                                <td>4.06
                                    <br>
                                    <span>579</span>
                                </td>
                                <td>7.09
                                    <br>
                                    <span>156</span>
                                </td>
                                <td>4.14
                                    <br>
                                    <span>093</span>
                                </td>
                                <td>0.04
                                    <br>
                                    <span>111</span>
                                </td>
                                <td>00.5
                                    <br>
                                    <span>112</span>
                                </td>
                            </tr>
                            <tr>
                                <th>No </th>
                                <td>6.70
                                    <br>
                                    <span>764</span>
                                </td>
                                <td>9.10
                                    <br>
                                    <span>987</span>
                                </td>
                                <td>1.00
                                    <br>
                                    <span>0.07</span>
                                </td>
                                <td>5.05
                                    <br>
                                    <span>987</span>
                                </td>
                                <td>7.77
                                    <br>
                                    <span>234</span>
                                </td>
                                <td>8.09
                                    <br>
                                    <span>345</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div>Betslip</div>
            <uib-tabset active="activePill" vertical="true" type="pills">
                <uib-tab index="0" heading="Analytical">
                    <div>
                        <div>
                            <input type="checkbox">
                        </div>
                        <p>New Zealand v England (2nd Test)</p>
                        <div>
                            <div class="table-responsive">
                                <table>
                                    <tr>
                                        <td>Odds</td>
                                        <td>Stake</td>
                                        <td>Liability</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="number" class="w-75">
                                        </td>
                                        <td>
                                            <input type="number" class="w-75">
                                        </td>
                                        <td>68.00</td>
                                    </tr>

                                </table>
                            </div>
                            <div>
                                <button type="button" class="btn">+25</button>
                                <button type="button" class="btn">+50</button>
                                <button type="button" class="btn">+75</button>
                                <button type="button" class="btn">MAX</button>
                                <button type="button" class="btn">+100</button>
                                <button type="button" class="btn">+150</button>
                                <button type="button" class="btn">+200</button>
                            </div>
                        </div>
                        <div>
                            <span>Liability: 65.00</span>
                            <div>
                                <button type="button" class="btn">Remove All</button>
                                <button type="button" class="btn">Place bets</button>
                            </div>
                            <div>
                                <input type="checkbox">Confirm bets before placing
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Rules">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 pt-5">
                            <p>Easy to configure out of the box rules & reports lets users leverage its adaptive functionality
                                and design and build rules repository which can easily adapt to tackle new ORC scenarios
                                and use cases. Machine & Natural Language query and real-time reporting tool allows users
                                to design complex scenarios with ease.
                            </p>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>