<div class="sport-wrapper common-heading">
    <div class="events">
        <h1 class="">My Markets
        </h1>
        <div class="events-rows">
            <table class="market-listing-table apl-table">
                <thead>
                    <tr>
                        <th class="title">Match</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in myMarkets">
                        <td ng-click="getMarket(item);">
                            <i class="fas fa-star apl-icon-star-o"></i>
                            <a class="event-name" href="">{{item.parentCategory.name}}</a>
                            <small class="">
                                <!-- <time timestamp="event.start" type="gmtDateTime" class="">04/05/2018 20:00</time> -->
                            </small>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>