<div class="sport-wrapper ">
    <div class="markets">
        <div class="group-sport ">
            <a name="group-sport-1"></a>
            <div class="content common-heading">
                <div class="group-event _clearfix ">
                    <div class="header">
                        <h1>
                            Besiktas v Kayserispor
                            <time timestamp="vm.eventMarket.start" type="gmtDateTime" class=" ">07/05/2018 22:30</time>
                        </h1>
                        <div class="start-time ">
                        </div>
                        <span class="opens-in-count-down  "></span>
                    </div>
                    <div class="markets-rows ">
                        <div class="">
                            <table class="market-listing-table apl-table">
                                <thead>
                                    <tr>
                                        <th class="market-name title">
                                            <i class="far fa-star icon-style"></i>
                                            Match Odds
                                        </th>
                                        <th class="back" colspan="2"></th>
                                        <th class="back">
                                            <span translate="" class="">Back</span>
                                        </th>
                                        <th class="lay">
                                            <span translate="" class="">Lay</span>
                                        </th>
                                        <th class="lay" colspan="2"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="">
                                        <td>
                                            <div class="event-name ">Besiktas</div>
                                            <div class="selection-pnl ">
                                                <span>
                                                    0.00
                                                </span>
                                            </div>
                                        </td>
                                        <td class="back unhighlighted show-size">
                                            <strong class="odds ">
                                                1.18
                                            </strong>
                                            <div class="size">
                                                <span class="">
                                                    427,152
                                                </span>
                                            </div>
                                        </td>
                                        <td class="back unhighlighted show-size">
                                            <strong class="odds ">
                                                1.19
                                            </strong>
                                            <div class="size">
                                                <span class="">
                                                    500,000+
                                                </span>
                                            </div>
                                        </td>
                                        <td class="back show-size">
                                            <strong class="odds ">
                                                1.20
                                            </strong>
                                            <div class="size">
                                                <span class="">
                                                    76,203
                                                </span>
                                            </div>
                                        </td>
                                        <td class="lay show-size">
                                            <strong class="odds ">
                                                1.21
                                            </strong>
                                            <div class="size">
                                                <span class="">
                                                    10,520
                                                </span>
                                            </div>
                                        </td>
                                        <td class="lay unhighlighted show-size">
                                            <strong class="odds ">
                                                1.22
                                            </strong>
                                            <div class="size">
                                                <span class="">
                                                    117,061
                                                </span>
                                            </div>
                                        </td>
                                        <td class="lay unhighlighted show-size">
                                            <strong class="odds ">
                                                1.23
                                            </strong>
                                            <div class="size">
                                                <span class="">
                                                    49,197
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td>
                                            <div class="event-name ">Kayserispor</div>
                                            <div class="selection-pnl ">
                                                <span>
                                                    0.00
                                                </span>
                                            </div>
                                        </td>
                                        <td class="back unhighlighted show-size">
                                            <strong class="odds">
                                                18.0
                                            </strong>
                                            <div class="size">
                                                <span class="">
                                                    2,978
                                                </span>
                                            </div>
                                        </td>
                                        <td class="back unhighlighted show-size">
                                            <strong class="odds ">
                                                18.5
                                            </strong>
                                            <div class="size">
                                                <span class="">
                                                    654
                                                </span>
                                            </div>
                                        </td>
                                        <td class="back show-size">
                                            <strong class="odds ">
                                                19.0
                                            </strong>
                                            <div class="size">
                                                <span class="">
                                                    311
                                                </span>
                                            </div>
                                        </td>
                                        <td class="lay show-size">
                                            <strong class="odds ">
                                                20
                                            </strong>
                                            <div class="size">
                                                <span class="">
                                                    660
                                                </span>
                                            </div>
                                        </td>
                                        <td class="lay unhighlighted show-size">
                                            <strong class="odds ">
                                                21
                                            </strong>
                                            <div class="size">
                                                <span class="">
                                                    1,238
                                                </span>
                                            </div>
                                        </td>
                                        <td class="lay unhighlighted show-size">
                                            <strong class="odds ">
                                                22
                                            </strong>
                                            <div class="size">
                                                <span class="">
                                                    2,298
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td>
                                            <div class="event-name ">The Draw</div>
                                            <div class="selection-pnl ">

                                                <span>
                                                    0.00
                                                </span>

                                            </div>
                                        </td>
                                        <td class="back unhighlighted show-size">
                                            <strong class="odds ">
                                                7.80
                                            </strong>
                                            <div class="size">
                                                <span class="">
                                                    4,559
                                                </span>
                                            </div>
                                        </td>
                                        <td class="back unhighlighted show-size">
                                            <strong class="odds ">
                                                8.00
                                            </strong>
                                            <div class="size">
                                                <span class="">
                                                    3,831
                                                </span>
                                            </div>
                                        </td>
                                        <td class="back show-size">
                                            <strong class="odds ">
                                                8.20
                                            </strong>
                                            <div class="size">
                                                <span class="">
                                                    3,108
                                                </span>
                                            </div>
                                        </td>
                                        <td class="lay show-size">
                                            <strong class="odds ">
                                                8.60
                                            </strong>
                                            <div class="size">
                                                <span class="">
                                                    1,517
                                                </span>
                                            </div>
                                        </td>
                                        <td class="lay unhighlighted show-size">
                                            <strong class="odds ">
                                                8.80
                                            </strong>
                                            <div class="size">
                                                <span class="">
                                                    2,324
                                                </span>
                                            </div>
                                        </td>
                                        <td class="lay unhighlighted show-size">
                                            <strong class="odds ">
                                                9.00
                                            </strong>
                                            <div class="size">
                                                <span class="">
                                                    12,794
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>