<div class="sport-wrapper ">
    <div class="markets">
        <div class="group-sport ">
            <a name="group-sport-1"></a>
            <div class="content common-heading">
                <div class="group-event _clearfix ">
                    <div class="header">
                        <h1>
                            Besiktas v Kayserispor
                            <time timestamp="vm.eventMarket.start" type="gmtDateTime" class=" ">07/05/2018 22:30</time>
                        </h1>
                        <div class="start-time ">
                        </div>
                        <span class="opens-in-count-down  "></span>
                    </div>
                    <div class="markets-rows ">
                        <div class="">
                            <table class="market-listing-table apl-table">
                                <thead>
                                    <tr>
                                        <th class="market-name title">
                                            <i class="far fa-star icon-style"></i>
                                            Match Odds
                                        </th>
                                        <th class="back" colspan="2"></th>
                                        <th class="back">
                                            <span translate="" class="">Back</span>
                                        </th>
                                        <th class="lay">
                                            <span translate="" class="">Lay</span>
                                        </th>
                                        <th class="lay" colspan="2"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="" ng-repeat="runner in market.runners track by $index">
                                        <td>
                                            <div class="event-name ">{{runner.name}}
                                            </div>
                                            <div class="selection-pnl">{{profits[$index].profit}}
                                            </div>
                                        </td>
                                        <td class="back unhighlighted show-size" ng-click="placeBet(runner.back[2][1],'BACK',market,runner)">
                                            <strong class="odds ">
                                                {{runner.back[2][1]}}
                                            </strong>
                                            <div class="size">
                                                <span class="">
                                                    {{runner.back[2][2]}}
                                                </span>
                                            </div>
                                        </td>
                                        <td class="back unhighlighted show-size" ng-click="placeBet(runner.back[1][1],'BACK',market,runner)">
                                            <strong class="odds ">
                                                {{runner.back[1][1]}}
                                            </strong>
                                            <div class="size">
                                                <span class="">
                                                    {{runner.back[1][2]}}
                                                </span>
                                            </div>
                                        </td>
                                        <td class="back show-size" ng-click="placeBet(runner.back[0][1],'BACK',market,runner)">
                                            <strong class="odds ">
                                                {{runner.back[0][1]}}
                                            </strong>
                                            <div class="size">
                                                <span class="">
                                                    {{runner.back[0][2]}}
                                                </span>
                                            </div>
                                        </td>
                                        <td class="lay show-size" ng-click="placeBet(runner.lay[0][1],'LAY',market,runner)">
                                            <strong class="odds ">
                                                {{runner.lay[0][1]}}
                                            </strong>
                                            <div class="size">
                                                <span class="">
                                                    {{runner.lay[0][2]}}
                                                </span>
                                            </div>
                                        </td>
                                        <td class="lay unhighlighted show-size" ng-click="placeBet(runner.lay[1][1],'LAY',market,runner)">
                                            <strong class="odds ">
                                                {{runner.lay[1][1]}}
                                            </strong>
                                            <div class="size">
                                                <span class="">
                                                    {{runner.lay[1][2]}}
                                                </span>
                                            </div>
                                        </td>
                                        <td class="lay unhighlighted show-size" ng-click="placeBet(runner.lay[2][1],'LAY',market,runner)">
                                            <strong class="odds ">
                                                {{runner.lay[2][1]}}
                                            </strong>
                                            <div class="size">
                                                <span class="">
                                                    {{runner.lay[2][2]}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>