<div class="sport-wrapper ">
    <div class="events common-heading">
        <h1 class="header">English Premier League
        </h1>
        <div class="events-rows">
            <table class="market-listing-table apl-table -qa-odds-test">
                <thead>
                    <tr>
                        <th class="title ">Match</th>
                        <th class="col-first-player _align-center" colspan="2">1</th>
                        <th class="player-draw _align-center" colspan="2">X</th>
                        <th class="col-second-player _align-center" colspan="2">2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td>
                            <i class="far fa-star icon-style"></i>
                            <a class="event-name ">Swansea v Southampton</a>
                            <small class="">
                                <time timestamp="event.start" type="gmtDateTime" class="">09/05/2018 00:15</time>
                            </small>
                        </td>
                        <td class="back">
                            3.30
                            </strong>
                            <div class="size">
                                <span class="">
                                    39,810
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            3.40
                            </strong>
                            <div class="size">
                                <span class="">
                                    76,279
                                </span>
                            </div>
                        </td>
                        <td class="back">
                            3.40
                            </strong>
                            <div class="size">
                                <span class="">
                                    192,146
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            <strong class="odds ">
                                3.45
                            </strong>
                            <div class="size">
                                <span class="">
                                    148,757
                                </span>
                            </div>
                        </td>
                        <td class="back">
                            <strong class="odds ">
                                2.44
                            </strong>
                            <div class="size">
                                <span class="">
                                    12,714
                                </span>
                            </div>
                        </td>
                        <td class="lay">
                            <strong class="odds ">
                                2.46
                            </strong>
                            <div class="size">
                                <span class="">
                                    25,851
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <i class="far fa-star icon-style"></i>

                            <a class="event-name ">Chelsea v Huddersfield</a>

                            <small class="">
                                <time timestamp="event.start" type="gmtDateTime" class="">10/05/2018 00:15</time>
                            </small>
                        </td>
                        <td class="back">
                            1.20
                            </strong>
                            <div class="size">
                                <span class="">
                                    285,872
                                </span>
                            </div>
                        </td>

                        <td class="lay">
                            1.21
                            </strong>
                            <div class="size">
                                <span class="">
                                    209,679
                                </span>
                            </div>
                        </td>

                        <td class="back">
                            8.00
                            </strong>
                            <div class="size">
                                <span class="">
                                    3,676
                                </span>
                            </div>
                        </td>

                        <td class="lay">
                            <strong class="odds ">
                                8.60
                            </strong>
                            <div class="size">
                                <span class="">
                                    21,081
                                </span>
                            </div>
                        </td>

                        <td class="back">
                            <strong class="odds ">
                                20
                            </strong>
                            <div class="size">
                                <span class="">
                                    5,884
                                </span>
                            </div>
                        </td>

                        <td class="lay">
                            <strong class="odds ">
                                21
                            </strong>
                            <div class="size">
                                <span class="">
                                    1,294
                                </span>
                            </div>
                        </td>

                    </tr>

                    <tr class="">
                        <td>
                            <i class="far fa-star icon-style"></i>

                            <a class="event-name ">Tottenham v Newcastle</a>

                            <small class="">
                                <time timestamp="event.start" type="gmtDateTime" class="">10/05/2018 00:30</time>
                            </small>
                        </td>
                        <td class="back">
                            1.20
                            </strong>
                            <div class="size">
                                <span class="">
                                    500,000+
                                </span>
                            </div>
                        </td>

                        <td class="lay">
                            1.21
                            </strong>
                            <div class="size">
                                <span class="">
                                    34,833
                                </span>
                            </div>
                        </td>

                        <td class="back">
                            8.40
                            </strong>
                            <div class="size">
                                <span class="">
                                    2,525
                                </span>
                            </div>
                        </td>

                        <td class="lay">
                            <strong class="odds ">
                                9.00
                            </strong>
                            <div class="size">
                                <span class="">
                                    12,887
                                </span>
                            </div>
                        </td>

                        <td class="back">
                            <strong class="odds ">
                                18.5
                            </strong>
                            <div class="size">
                                <span class="">
                                    918
                                </span>
                            </div>
                        </td>

                        <td class="lay">
                            <strong class="odds ">
                                19.0
                            </strong>
                            <div class="size">
                                <span class="">
                                    920
                                </span>
                            </div>
                        </td>

                    </tr>

                    <tr class="">
                        <td>
                            <i class="far fa-star icon-style"></i>

                            <a class="event-name ">Man City v Brighton</a>

                            <small class="">
                                <time timestamp="event.start" type="gmtDateTime" class="">10/05/2018 00:30</time>
                            </small>
                        </td>
                        <td class="back">
                            1.14
                            </strong>
                            <div class="size">
                                <span class="">
                                    106,840
                                </span>
                            </div>
                        </td>

                        <td class="lay">
                            1.15
                            </strong>
                            <div class="size">
                                <span class="">
                                    270,087
                                </span>
                            </div>
                        </td>

                        <td class="back">
                            11.0
                            </strong>
                            <div class="size">
                                <span class="">
                                    5,960
                                </span>
                            </div>
                        </td>

                        <td class="lay">
                            <strong class="odds ">
                                11.5
                            </strong>
                            <div class="size">
                                <span class="">
                                    2,556
                                </span>
                            </div>
                        </td>

                        <td class="back">
                            <strong class="odds ">
                                27
                            </strong>
                            <div class="size">
                                <span class="">
                                    1,434
                                </span>
                            </div>
                        </td>

                        <td class="lay">
                            <strong class="odds ">
                                28
                            </strong>
                            <div class="size">
                                <span class="">
                                    2,039
                                </span>
                            </div>
                        </td>

                    </tr>

                </tbody>
            </table>

        </div>
    </div>


</div>