<div class="available-bal">
    <!-- <accountbalance></accountbalance> -->
    <div class="account-statement ">
        <h1>Account Statement</h1>

        <div class="apl-report-filter ">
            <datepicker>
                <span class="label-title">From</span>
                <div class="input-group mb-3">
                    <!-- <input type="date" name="" ng-model="accountStatmentFilter.fromDate"> -->
                    <!-- <input type="date" required ng-model="accountStatmentFilter.fromDate" class="form-control" required id="basic-url" aria-describedby="basic-addon3"> -->
                    <p class="input-group">
                        <input type="text" class="form-control" name="fromDate" uib-datepicker-popup="dd.MM.yyyy" ng-model="accountStatmentFilter.fromDate"
                            is-open="popup1.opened" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open1()">
                                <i class="far fa-calendar-alt"></i>
                            </button>
                        </span>
                        <div class="disable-input " ng-click="open1() "></div>
                    </p>
                </div>
            </datepicker>

            <datepicker>
                <span class="label-title">To</span>
                <div class="input-group mb-3">
                    <!-- <input type="date" name="" ng-model="accountStatmentFilter.toDate"> -->
                    <!-- <input type="date" required ng-model="accountStatmentFilter.fromDate" class="form-control" required id="basic-url" aria-describedby="basic-addon3"> -->
                    <p class="input-group">
                        <input type="text" class="form-control" name="toDate" uib-datepicker-popup="dd.MM.yyyy" ng-model="accountStatmentFilter.toDate"
                            is-open="popup2.opened" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open2()">
                                <i class="far fa-calendar-alt"></i>
                            </button>
                        </span>
                        <div class="disable-input " ng-click="open2() "></div>
                    </p>
                </div>
            </datepicker>

            <button class="apl-btn apl-btn-primary" ng-click=accountStatements(accountStatmentFilter);>
                <i class="fas fa-search apl-icon-search"></i> Search
            </button>
        </div>


        <p class="total-pnl">
            <span translate="" class="ng-scope">Total P&amp;L</span>:
            <span class="numeric" ng-class="{'-negative': netProfit < 0, '-positive': netProfit  >= 0}">{{netProfit}}</span>
        </p>

        <!-- <p class="total-pnl">
            <span>Total P&amp;L</span>:
            <span class="numeric ">-16.22</span>
        </p> -->
        <!-- <table class="listing apl-table ">
            <tbody>
                <tr>
                    <th>Date</th>
                    <th colspan="2">Description</th>
                    <th class="numeric ">P&amp;L</th>
                    <th class="numeric ">Credit Limit</th>
                    <th class="numeric ">Balance</th>
                </tr>
                <tr>
                    <td class="row-time ">
                        <time timestamp="row.date" type="time" class=" ">23:40:11</time>
                    </td>
                    <td class=" ">Betting P&amp;L</td>
                    <td ng-click="vm.showBreakdown(row)">
                        <span class="event-link">
                            <span date-string="vm.getDescription(row.description)" timestamp="row.description.marketTime" class=" ">Rajasthan Royals v Kings XI Punjab - Match Odds</span>
                        </span>
                    </td>
                    <td class="numeric   -negative" ng-class="{'-negative': row.pnl < 0, '-positive': row.pnl  >= 0}">-20.50</td>
                    <td class="numeric   -positive" ng-class="{'-negative': row.creditLimit < 0, '-positive': row.creditLimit  >= 0}">-</td>
                    <td class="numeric   -positive" ng-class="{'-negative': row.balance < 0, '-positive': row.balance  >= 0}">210.87</td>
                </tr>
            </tbody>
        </table> -->
        <div>
            <div class="breakdown-breadcrumb " ng-if="showAccountDetails">
                <a href="">Account Statement</a> &gt;
                <span>{{accountStatement[0].eventDesc.name}}</span> - {{accountStatement[0].marketDesc.name}}
            </div>

            <div class="breakdown-listing">
                <table class="listing apl-table" ng-if="!showAccountDetails">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th colspan="2">Description</th>
                            <th class="numeric">P&amp;L</th>
                            <th class="numeric">Credit Limit</th>
                            <th class="numeric">Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="account in accounts">
                            <td>
                                <span class="order-date">
                                    <time type="fullDate">{{account.createdAt | date : "dd.MM.yyyy"}}</time>
                                </span>
                                <span class="order-time">
                                    <time type="time">{{account.createdAt | date: "h:mm:ss"}}</time>
                                </span>
                            </td>

                            <td>
                                <span ng-if="!account.difference">Betting P&amp;L</span>
                                <span ng-if="account.difference && account.status == 'Edit'">Credit Adjustment</span>
                                <span ng-if="account.difference && account.status == 'Create'">Account Open</span>
                            </td>
                            <td ng-click="getBetList(account)">
                                <span class="event-link">
                                    <span>{{account.selectionName}}</span>
                                </span>
                            </td>

                            <td class="numeric">
                                <span class="-positive" ng-if="account.difference && account.difference >= 0">
                                    {{account.difference | number}}
                                </span>
                                <span class="-negative" ng-if="account.difference && account.difference < 0">
                                    {{account.difference | number}}
                                </span>
                                <span class="-positive" ng-if="account.netAmount && account.netAmount >= 0">
                                    {{account.netAmount / account.playerRate | number}}
                                </span>
                                <span class="-negative" ng-if="account.netAmount && account.netAmount < 0">
                                    {{account.netAmount / account.playerRate | number}}
                                </span>
                            </td>
                            <td class="text-center">
                                <span class="-positive" ng-if="account.creditLimit">
                                    {{account.creditLimit | number}}
                                </span>
                                <span class="-positive " ng-if="!account.creditLimit">
                                    -
                                </span>
                            </td>
                            <td class="numeric">
                                <span class="-positive" ng-if="account.currentBalance && account.currentBalance >= 0">
                                    {{account.currentBalance | number}}
                                </span>
                                <span class="-negative" ng-if="account.currentBalance && account.currentBalance < 0">
                                    {{account.currentBalance | number}}
                                </span>
                                <span class="-positive" ng-if="account.balance && account.balance >= 0">
                                    {{account.balance | number}}
                                </span>
                                <span class="-negative" ng-if="account.balance && account.balance < 0">
                                    {{account.balance | number}}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="breakdown-listing" ng-if="showAccountDetails">
                    <table class="listing apl-table">
                        <thead>
                            <tr>
                                <th>Placed</th>
                                <th>Selection</th>
                                <th>Bet ID</th>
                                <th>Type</th>
                                <th class="numeric">Odds</th>
                                <th class="numeric">Stake</th>
                                <th class="numeric">Profit/Loss</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="account in accountStatement">
                                <td>
                                    <span class="order-date">
                                        <time type="fullDate">{{account.createdAt | date : "dd.MM.yyyy"}}</time>
                                    </span>
                                    <span class="order-time">
                                        <time type="time">{{account.createdAt | date: "h:mm:ss"}}</time>
                                    </span>
                                </td>
                                <td>{{account.horse.name}}</td>

                                <td>{{account.betId}}</td>
                                <td>{{account.type}}</td>
                                <td class="numeric ">
                                    {{account.betRate}}

                                </td>
                                <td class="numeric ">100.00</td>
                                <td class="numeric  -negative">-6.00</td>
                                <td class=" -negative">{{account.betWinStatus}}</td>
                            </tr>

                        </tbody>
                    </table>

                    <table class="market-summary" ng-switch="" on="breakdown.marketBets[0].marketBettingType">
                        <tbody>
                            <tr>
                                <td class="label">Back subtotal</td>
                                <td class="">10.00</td>
                            </tr>
                            <tr>
                                <td class="label">Lay subtotal</td>
                                <td class="">-13.00</td>
                            </tr>
                            <tr>
                                <td class="label">Market subtotal</td>
                                <td class="">-3.00</td>
                            </tr>
                            <tr>
                                <td class="label">Commission</td>
                                <td class="underline ">0.00</td>
                            </tr>
                            <tr class="total">
                                <td class="label">Net Market Total</td>
                                <td class="underline ">-3.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>