<div class="">
    <div class="account-statement ">
        <h1 class="">Account Statement</h1>

        <div class="apl-report-filter ng-isolate-scope">
            <datepicker date-format="dd/MM/yyyy" selector="apl-input-datepicker-from" class="ng-isolate-scope">
                <span class="label-title">From</span>
                <input class="apl-input-datepicker-from ng-valid ng-not-empty ng-touched ng-dirty ng-valid-parse" type="text" readonly="">
            </datepicker>

            <datepicker date-format="dd/MM/yyyy" selector="apl-input-datepicker-to" class="ng-isolate-scope">
                <span class="label-title">To</span>
                <input class="apl-input-datepicker-to ng-pristine ng-untouched ng-valid ng-not-empty" type="text" readonly="">
            </datepicker>

            <button id="submit" class="apl-btn apl-btn-primary" type="submit">
                <i class="apl-icon-search"></i> Search
            </button>
        </div>

        <p class="total-pnl">
            <span class="">Total P&amp;L</span>:
            <span class="numeric ">-16.22</span>
        </p>
        <table class="listing apl-table ">
            <tbody>
                <tr>
                    <th class="">Date</th>
                    <th colspan="2" class="">Description</th>
                    <th class="numeric " translate="">P&amp;L</th>
                    <th class="numeric " translate="">Credit Limit</th>
                    <th class="numeric " translate="">Balance</th>
                </tr>
                <tr class="">
                    <td colspan="7" class="group-date ">
                        <time timestamp="row.dateGroup" type="fullDate" class="">08/05/2018</time>
                    </td>
                </tr>
                <tr class="">
                    <td class="row-time ">
                        <time timestamp="row.date" type="time" class=" ng-isolate-scope">23:40:11</time>
                    </td>
                    <td class=" ">Betting P&amp;L</td>
                    <td ng-click="vm.showBreakdown(row)" class="">
                        <span class="event-link">
                            <span date-string="vm.getDescription(row.description)" timestamp="row.description.marketTime" class=" ng-isolate-scope">Rajasthan Royals v Kings XI Punjab - Match Odds</span>
                        </span>
                    </td>
                    <td class="numeric   -negative" ng-class="{'-negative': row.pnl < 0, '-positive': row.pnl  >= 0}">-20.50</td>
                    <td class="numeric   -positive" ng-class="{'-negative': row.creditLimit < 0, '-positive': row.creditLimit  >= 0}">-</td>
                    <td class="numeric   -positive" ng-class="{'-negative': row.balance < 0, '-positive': row.balance  >= 0}">210.87</td>
                </tr>
                <tr class="">
                    <td class="row-time ">
                        <time timestamp="row.date" type="time" class=" ng-isolate-scope">23:40:11</time>
                    </td>
                    <td class=" ">Betting P&amp;L</td>
                    <td ng-click="vm.showBreakdown(row)" class="">
                        <span class="event-link">
                            <span date-string="vm.getDescription(row.description)" timestamp="row.description.marketTime" class=" ng-isolate-scope">Rajasthan Royals v Kings XI Punjab - Match Odds</span>
                        </span>
                    </td>
                    <td class="numeric   -negative" ng-class="{'-negative': row.pnl < 0, '-positive': row.pnl  >= 0}">-20.50</td>
                    <td class="numeric   -positive" ng-class="{'-negative': row.creditLimit < 0, '-positive': row.creditLimit  >= 0}">-</td>
                    <td class="numeric   -positive" ng-class="{'-negative': row.balance < 0, '-positive': row.balance  >= 0}">210.87</td>
                </tr>
            </tbody>
        </table>
    </div>
    </ng-view>
</div>